/* trash.css ---------------------------------------------------------------- */

/******************************************************************************/
.data-grid {
	position: relative;
	display: inline-block;
	z-index: 2;
	line-height: normal;
	overflow: hidden;
}

.data-grid-body-container {
	position: relative;
}

.data-grid table {
	table-layout: fixed;
	border-collapse: collapse;
	background: #FFF;
}

.data-grid td, .data-grid th {
	padding: 2px;
	background: #FFF;
	border: 1px solid #888;
	white-space: nowrap;
	font-family: monospace;
	overflow: hidden;
	text-overflow: ellipsis;
}

.data-grid th {
	background: #AAA;
	color: #000;
	text-shadow: 1px 1px 0 #BBB;
}

.data-grid-header {
	margin: -1px -1px 0;
}

.data-grid-body {
	margin: 0 -1px -1px;
}

.data-grid-body table td {
	border: 1px solid #DDD;
}

.data-grid-body tr:hover td {
	background: #EEE;
}

/*
.data-grid-scroll-x {
	position : absolute;
	left: 1px;
	bottom: 1px;
	right: 1px;
	height: 12px;
	background: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.data-grid-scroll-x .scroller {
	position : absolute;
	left: 1px;
	height: 10px;
	top: 1px;
	width: 20px;
	background: #000;
	opacity: 0.6;
	z-index: 3;
}

.data-grid-scroll-y {
	position : absolute;
	right : 1px;
	bottom: 1px;
	top : 1px;
	width: 12px;
	background: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.data-grid-scroll-y .scroller {
	position : absolute;
	left: 1px;
	height: 20px;
	top: 1px;
	width: 10px;
	background: #000;
	opacity: 0.6;
	z-index: 3;
}*


/* data-grid ---------------------------------------------------------------- */
.chart-data-grid {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.chart-data-grid-scroller {
	white-space: nowrap;
}

.chart-data-grid .row {
	
}

.chart-data-grid .col {
	display: inline-block;
	width: 40px;
	background: #FFF;
	margin: 0 1px 1px 0; 
	padding: 5px 8px 5px 2px;
	vertical-align: middle;
	position: relative;
}

.col-editor {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom : 0;
	margin : 0;
	border : none;
	outline : none;
	box-shadow : none;
	font-size : 11px;
	width: 100% !important;
	height: 100%;
	padding: 0 !important;
	-webkit-box-sizing: content-box;
}

/* property-grid ------------------------------------------------------------ */
.property-grid {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #666;
}

.property-grid td {
	background: #FFF;
	border  : 1px solid #888;
	padding : 0;
}
.property-grid td > div {
	position: relative;
	overflow: visible;
	padding : 3px 4px;
}

.property-grid td:first-of-type {
	background: #EFEFEF;
}

.property-grid th {
	background: #CCC;
	margin: 0;
	padding: 0;
}
.property-grid th div {
	border: 1px solid;
	border-color: #CCC #BBB #BBB #DDD;
	padding: 2px 0;
}

.property-grid tr:hover td {
	background: #BCD;
}

.property-grid tfoot td {
	background: #CCC !important;
}

.property-grid .num-editor {
	position: absolute;
	top      : -1px;
	left     : -1px;
	right    : -1px;
	bottom   : -1px;
	margin   : 0;
	border-color : #000;
	z-index: 2;
	display: block;
	
}
.property-grid .num-editor input {
	/*outline    : 1px solid #000;
	outline-offset: -1px;*/
}
