<div class="row">
	<div class="group-label">Spline</div>
	<div class="control">
		<input type="checkbox" name="area3dChartSpline" />
	</div>
</div>
<div class="row">
	<div class="group-label">Stacked</div>
	<div class="control">
		<input type="checkbox" name="area3dChartStacked" />
	</div>
</div>
<div class="row">
	<div class="group-label">Opacity</div>
	<div class="control">
		<input type="range" name="area3dChartAlpha" min="0" max="1" value="0.5" />
	</div>
</div>
<div class="row">
	<div class="group-label">Angle</div>
	<div class="control">
		<input type="number" name="area3dChartAngle" size="3" />
	</div>
</div>
<div class="row">
	<div class="group-label">Depth</div>
	<div class="control">
		<input type="number" name="area3dChartDepth" size="3" />
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	$('[name="area3dChartSpline"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.spline", this.checked);
	});
    
	$('[name="area3dChartStacked"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].stacked", this.checked);
	});
	
	$('[name="area3dChartAlpha"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.alpha-area", $.floatVal(this.value));
	});
	
	$('[name="area3dChartAngle"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].3d-aspect.angle", $.intVal(this.value));
	});
	
	$('[name="area3dChartDepth"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].3d-aspect.depth", $.intVal(this.value));
	});
    
	$(ENV.container).trigger("ready");
	
	
})(jQuery);
</script>