<div class="row spline">
	<div class="group-label">Spline</div>
	<div class="control">
		<input type="checkbox" name="areaChartSpline" />
	</div>
</div>
<div class="row">
	<div class="group-label">Stacked</div>
	<div class="control">
		<input type="checkbox" name="areaChartStacked" />
	</div>
</div>
<div class="row">
	<div class="group-label">Opacity</div>
	<div class="control">
		<input type="range" name="areaChartAlpha" min="0" max="1" value="0.5" />
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	$('[name="areaChartSpline"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.spline", this.checked);
	});
    
	$('[name="areaChartStacked"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].stacked", this.checked);
	});
	
	$('[name="areaChartAlpha"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.alpha-area", $.floatVal(this.value));
	});
    
	$(ENV.container).trigger("ready");
	
	
})(jQuery);
</script>