<div class="row">
	<div class="group-label">Histogram</div>
	<div class="control">
		<input type="checkbox" name="barChartHistogram" />
	</div>
</div>
<div class="row">
	<div class="group-label">Stacked</div>
	<div class="control">
		<input type="checkbox" name="barChartStacked" />
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	$('[name="barChartHistogram"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].histogram", this.checked);
	});
    
	$('[name="barChartStacked"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].stacked", this.checked);
	});
	
	$(ENV.container).trigger("ready");
	
})(jQuery);
</script>