<div class="row">
	<div class="group-label">Histogram</div>
	<div class="control">
		<input type="checkbox" name="bar3dChartHistogram" />
	</div>
</div>
<div class="row">
	<div class="group-label">Stacked</div>
	<div class="control">
		<input type="checkbox" name="bar3dChartStacked" />
	</div>
</div>
<div class="row">
	<div class="group-label">Angle</div>
	<div class="control">
		<input type="number" name="bar3dChartAngle" size="3" />
	</div>
</div>
<div class="row">
	<div class="group-label">Depth</div>
	<div class="control">
		<input type="number" name="bar3dChartDepth" size="3" />
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	$('[name="bar3dChartHistogram"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].histogram", this.checked);
	});
    
	$('[name="bar3dChartStacked"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].stacked", this.checked);
	});
	
	$('[name="bar3dChartAngle"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].3d-aspect.angle", $.intVal(this.value));
	});
	
	$('[name="bar3dChartDepth"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].3d-aspect.depth", $.intVal(this.value));
	});
	
	$(ENV.container).trigger("ready");
	
})(jQuery);
</script>