<div class="row dimensions-editor"></div>
<div class="row position-editor"></div>
<div class="row background-editor"></div>
<div class="row border-editor"></div>
<div class="row shadow-editor"></div>
<div class="row bevel-editor"></div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA             = {}, 
		IN_TRANSACTION   = 1,
		ZC               = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "bulletChartEditor",
		PATH             = "graphset[0].plot.goal";
		
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	function commit(data, props) {
		
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		
		if ( !IN_TRANSACTION ) {
			var curData = ChartBuilder.getChartEngine().get(PATH);
			var newData = $.extend(true, curData, DATA);
			newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
			newData = $.JsonCleanupEmptyObjectProperies(newData);
			
			if ( $.isEmptyObject(newData) ) {
				ChartBuilder.getChartEngine().unset( PATH );
			}
			else {
				ChartBuilder.getChartEngine().set( PATH, newData );
			}
			curData = newData = null;
		}
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 6) {
			IN_TRANSACTION = 0;
			$(ENV.container).trigger("ready");
		}
	}
	
	ZC.embedEditor({
		editorID : "dimensions",
		target   : $(".dimensions-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "positionXY",
		target   : $(".position-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "background",
		target   : $(".background-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "border",
		target   : $(".border-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC = null;
	
})(jQuery);
</script>