<div class="row">
	<div class="group-label">Visible</div>
	<div class="control">
		<input type="checkbox" name="funnelChartEntryVisible" />
	</div>
</div>
<div class="row">
	<div class="group-label">Text</div>
	<div class="control">
		<input type="text" name="funnelChartEntryText" size="35" value="Entry=%i" />
	</div>
</div>
<div class="row background-editor"></div>
<div class="row shadow-editor"></div>
<div class="row bevel-editor"></div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA             = {}, 
		IN_TRANSACTION   = 1,
		ZC               = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "funnelChartEntryEditor",
		PATH             = "graphset[0].plot.entry";
		
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	function commit(data, props) {
		
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		
		if ( !IN_TRANSACTION ) {
			var curData = ChartBuilder.getChartEngine().get(PATH);
			var newData = $.extend(true, curData, DATA);
			newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
			newData = $.JsonCleanupEmptyObjectProperies(newData);
			
			if ( !newData.visible || $.isEmptyObject(newData) ) {
				ChartBuilder.getChartEngine().unset( PATH );
			}
			else {
				ChartBuilder.getChartEngine().set( PATH, newData );
			}
			curData = newData = null;
		}
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 3) {
			IN_TRANSACTION = 0;
			$(ENV.container).trigger("ready");
		}
	}
	
	$$("funnelChartEntryVisible").click(function() {
	   DATA.visible = this.checked;
	   
	   var series = ChartBuilder.getChartEngine().get("graphset[0].series");
	   $.each(series, function(i, s) {
	       if (DATA.visible) {
	           s.entry = {"values": [$.intVal(s.values[0] * 0.7)]};
	           //s.exit  = {"values": [$.intVal(s.values[0] * 1.3)]};
	       }
	       else {
	           if (s.entry) {
	               delete s.entry;
	           }
	           //if (s.exit) {
	           //    delete s.exit;
	           //}
	       }
	   });
	   ChartBuilder.getChartEngine().get("graphset[0].series", series);
	   
	   commit();
	});
	
	$$("funnelChartEntryText").change(function() {
	    DATA["tooltip-text"] = this.value || SKIP_THIS_PROPERTY;
	    commit();
	});
	
	ZC.embedEditor({
		editorID : "background",
		target   : $(".background-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC = null;
	
})(jQuery);
</script>