<div class="tabs-widget keep-state">
	<div class="tabs">
		<a class="tab" data-url="core/zingcharts/editors/chart_specific/funnel-entry.html">Entry</a>
		<a class="tab" data-url="core/zingcharts/editors/chart_specific/funnel-exit.html">Exit</a>
	</div>
	<div class="pannels"></div>
</div>
<script type="text/javascript">
/*global jQuery, ENV*/
jQuery(ENV.container).trigger("ready");
</script>