<div class="tabs-widget keep-state">
	<div class="tabs">
		<a class="tab" data-url="core/zingcharts/editors/chart_specific/funnel-entry.html">Entry</a>
		<a class="tab" data-url="core/zingcharts/editors/chart_specific/funnel-exit.html">Exit</a>
	</div>
	<div class="pannels"></div>
</div>
<div class="row">
	<div class="group-label">Angle</div>
	<div class="control">
		<input type="number" name="funnel3dChartAngle" size="3" />
	</div>
</div>
<div class="row">
	<div class="group-label">Depth</div>
	<div class="control">
		<input type="number" name="funnel3dChartDepth" size="3" />
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	$('[name="funnel3dChartAngle"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].3d-aspect.angle", $.intVal(this.value));
	});
	
	$('[name="funnel3dChartDepth"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].3d-aspect.depth", $.intVal(this.value));
	});
	
	$(ENV.container).trigger("ready");
	
})(jQuery);
</script>