<div class="row spline">
	<div class="group-label">Spline</div>
	<div class="control">
		<input type="checkbox" name="lineChartSpline" />
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	$('[name="lineChartSpline"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.spline", this.checked);
	});
    
	$(ENV.container).trigger("ready");
	
})(jQuery);
</script>