<div class="row spline">
	<div class="group-label">Spline</div>
	<div class="control">
		<input type="checkbox" name="line3dChartSpline" />
	</div>
</div>
<div class="row">
	<div class="group-label">Angle</div>
	<div class="control">
		<input type="number" name="line3dChartAngle" size="3" />
	</div>
</div>
<div class="row">
	<div class="group-label">Depth</div>
	<div class="control">
		<input type="number" name="line3dChartDepth" size="3" />
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	$('[name="line3dChartSpline"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.spline", this.checked);
	});
    
	$('[name="line3dChartAngle"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].3d-aspect.angle", $.intVal(this.value));
	});
	
	$('[name="line3dChartDepth"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].3d-aspect.depth", $.intVal(this.value));
	});
    
	$(ENV.container).trigger("ready");
	
	
})(jQuery);
</script>