<div class="row">
	<div class="group-label">Offset</div>
	<div class="control">
		<input type="number" name="nestedpieChartOffset" size="3" min="0" />
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	$('[name="nestedpieChartOffset"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.offset", $.intVal(this.value));
	});
    
	$(ENV.container).trigger("ready");
	
})(jQuery);
</script>