<div class="row">
	<div class="group-label">Aspect</div>
	<div class="control">
		<select name="pianoChartAspect">
			<option value="">Default</option>
			<option value="brightness">Brightness</option>
			<option value="horizontal">Horizontal</option>
			<option value="vertical">Vertical</option>
			<option value="size">Size</option>
		</select>
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	$('[name="pianoChartAspect"]', ENV.container).change(function() {
	    var plot = ChartBuilder.getChartEngine().get("graphset[0].plot") || {},
	    	val  = $(this).val();
	    if (val) {
	        plot.aspect = val;
	    }
	    else {
	        if ( "aspect" in plot ) {
	            delete plot.aspect; 
	        }
	    }
	    ChartBuilder.getChartEngine().set("graphset[0].plot", plot);
	});
    
	$(ENV.container).trigger("ready");
	
})(jQuery);
</script>