<div class="row">
	<div class="group-label">Offset</div>
	<div class="control">
		<input type="number" name="pieChartOffset" size="3" min="0" />
	</div>
</div>
<div class="row">
	<div class="group-label">Detach</div>
	<div class="control">
		<input type="checkbox" name="pieChartDetach" />
	</div>
</div>
<div class="row">
	<div class="group-label">Label Inside</div>
	<div class="control">
		<input type="checkbox" name="pieChartLabelInside" />
	</div>
</div>
<div class="row">
	<div class="group-label">Label Connect</div>
	<div class="control">
		<input type="checkbox" name="pieChartLabelConnected" />
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
    $('[name="pieChartOffset"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.offset", $.intVal(this.value));
	});
    
    $('[name="pieChartDetach"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.detach", this.checked);
	});
    
    $('[name="pieChartLabelInside"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.value-box.placement", this.checked ? "in" : "out");
	});
    
    $('[name="pieChartLabelConnected"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.value-box.connected", this.checked);
	});
    
	$(ENV.container).trigger("ready");
	
})(jQuery);
</script>