<div class="row">
	<div class="group-label">Offset</div>
	<div class="control">
		<input type="number" name="pie3dChartOffset" size="3" min="0" />
	</div>
</div>
<div class="row">
	<div class="group-label">Detach</div>
	<div class="control">
		<input type="checkbox" name="pie3dChartDetach" />
	</div>
</div>
<div class="row">
	<div class="group-label">Label Inside</div>
	<div class="control">
		<input type="checkbox" name="pie3dChartLabelInside" />
	</div>
</div>
<div class="row">
	<div class="group-label">Label Connect</div>
	<div class="control">
		<input type="checkbox" name="pie3dChartLabelConnected" />
	</div>
</div>
<div class="row">
	<div class="group-label">Angle</div>
	<div class="control">
		<input type="number" name="pie3dChartAngle" size="3" />
	</div>
</div>
<div class="row">
	<div class="group-label">Depth</div>
	<div class="control">
		<input type="number" name="pie3dChartDepth" size="3" />
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
    $('[name="pie3dChartOffset"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.offset", $.intVal(this.value));
	});
    
    $('[name="pie3dChartDetach"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.detach", this.checked);
	});
    
    $('[name="pie3dChartLabelInside"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.value-box.placement", this.checked ? "in" : "out");
	});
    
    $('[name="pie3dChartLabelConnected"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.value-box.connected", this.checked);
	});
    
    $('[name="pie3dChartAngle"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].3d-aspect.angle", $.intVal(this.value));
	});
	
	$('[name="pie3dChartDepth"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].3d-aspect.depth", $.intVal(this.value));
	});
    
	$(ENV.container).trigger("ready");
	
})(jQuery);
</script>