<div class="row">
	<div class="group-label">Joined</div>
	<div class="control">
		<input type="checkbox" name="radarChartJoined" />
	</div>
</div>
<div class="row">
	<div class="group-label">Plot Aspect</div>
	<div class="control">
		<select name="radarChartPlotAspect">
			<option value="">Default</option>
			<option value="line">Line</option>
			<option value="area">Area</option>
			<option value="rose">Rose</option>
			<option value="dots">Dots</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="group-label">Chart Aspect</div>
	<div class="control">
		<select name="radarChartChartAspect">
			<option value="">Default</option>
			<option value="star">Star</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="group-label">Opacity</div>
	<div class="control">
		<input type="range" name="radarChartAlpha" min="0" max="1" />
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
    $('[name="radarChartJoined"]', ENV.container).click(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.joined", this.checked);
	});
    
    $('[name="radarChartAlpha"]', ENV.container).change(function() {
	    ChartBuilder.getChartEngine().set("graphset[0].plot.alpha-area", $.floatVal(this.value));
	});
    
    $('[name="radarChartChartAspect"]', ENV.container).change(function() {
        var val = $(this).val();
        if (val) {
	        ChartBuilder.getChartEngine().set("graphset[0].scale-k.aspect", val);
	        ChartBuilder.getChartEngine().set("graphset[0].scale-v.aspect", val);
        }
        else {
            ChartBuilder.getChartEngine().unset("graphset[0].scale-k.aspect");
	        ChartBuilder.getChartEngine().unset("graphset[0].scale-v.aspect");
        }
	});
    
    $('[name="radarChartPlotAspect"]', ENV.container).change(function() {
	    var val = $(this).val();
        if (val) {
	        ChartBuilder.getChartEngine().set("graphset[0].plot.aspect", val);
        }
        else {
            ChartBuilder.getChartEngine().unset("graphset[0].aspect");
        }
	});
    
	$(ENV.container).trigger("ready");
	
})(jQuery);
</script>