<style>
.box-editor {
	font-size:9px;
	font-family:Verdana, sans-serif;
	line-height: 9px;
	padding: 4px 7px;
	width: 282px;
	margin: auto;
}

.box-editor div {
	position:relative;
	background:#CCC;
	border:1px dotted #666;
	z-index: 1;
}

.box-editor .position {
}

.box-editor .position.hover {
	background: #BCEB92;
	border:1px solid green;
}

.box-editor .margin {
	margin  : 18px 30px;
}

.box-editor .margin.hover {
	background: #B9D6F4;
	border:1px solid #3333CC;
}

.box-editor .border {
	margin  : 18px 30px;
}

.box-editor .border.hover {
	border: 1px solid red;
	background:#FFCCCC;
}

.box-editor .content {
	margin : 18px 30px;
	padding: 2px;
}

.box-editor .content.hover {
	background:#FFFFCC;
	border:1px solid #CC9900;
}

.box-editor label {
	position: absolute;
	top : 2px;
	left: 2px;
	font-size:10px;
	font-family:Verdana, sans-serif;
	line-height: 10px;
	color:#444;
	font-weight: bold;
}

.box-editor label input {
	line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.box-editor .value {
	position: absolute;
	width: 30px;
	height: 18px;
	min-height: 18px;
	text-align:center;
	vertical-align: middle;
	z-index: 2;
	line-height:18px;
}
.box-editor .content .value {
	position: relative;
	display: block;
	z-index: 1;
}

.box-editor .value:hover {
	background:highlight;
	color: highlighttext;
	outline:1px solid #000;
}

.box-editor .value.top {
	left: 50%;
	margin-left: -15px;
	top: 0;
}
.box-editor .value.right {
	right: 0;
	top: 50%;
	margin-top: -10px; 
}
.box-editor .value.bottom {
	left: 50%;
	margin-left: -15px;
	bottom: 0; 
}
.box-editor .value.left {
	left: 0;
	top: 50%;
	margin-top: -10px; 
}

.box-editor .content .input {
	width : 43px;
	border: 1px solid #888;
}

.box-editor .in-place {
	position: absolute;
	
}

.box-editor .content .value .in-place {
	/*top : -10px;*/
	left: 0;
}

.box-editor .disabled > label,
.box-editor .disabled > span,
.box-editor .disabled > table * {
	color: #AAA;
}

.box-editor .position.disabled,
.box-editor .margin.disabled,
.box-editor .border.disabled,
.box-editor .content.disabled {
	background:#EEE;
	border:1px dotted #999;
}

.box-editor .num-editor {
	position : absolute;
	width    : 55px;
	height   : 22px;
	top      : -2px;
	left     : -11px;
	right    : -1px;
	bottom   : -1px;
	margin   : 0;
	border-color : #000;
	z-index: 200;
	display: block;
	border: 1px solid #000;
	background:#fff;
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

</style>
	<div class="box-editor">
		<div class="position">
			<label><input type="checkbox" /> Position</label>
			<span class="value top"    data-prop="position" data-pos="top"></span>
			<span class="value right"  data-prop="position" data-pos="right"></span>
			<span class="value bottom" data-prop="position" data-pos="bottom"></span>
			<span class="value left"   data-prop="position" data-pos="left"></span>
			<div class="margin">
				<label><input type="checkbox" /> Margin</label>
				<span class="value top"    data-prop="margin" data-pos="top"></span>
				<span class="value right"  data-prop="margin" data-pos="right"></span>
				<span class="value bottom" data-prop="margin" data-pos="bottom"></span>
				<span class="value left"   data-prop="margin" data-pos="left"></span>
				<div class="border">
					<label><input type="checkbox" /> Border</label>
					<span class="value top"    data-prop="border" data-pos="top"   ></span>
					<span class="value right"  data-prop="border" data-pos="right" ></span>
					<span class="value bottom" data-prop="border" data-pos="bottom"></span>
					<span class="value left"   data-prop="border" data-pos="left"  ></span>
					<div class="content">
						<label><input type="checkbox" /> Size</label>
						<br />
						<table border="0" cellspacing="1" cellpadding="1">
							<tr>
								<td>Width: </td>
								<td width="30" height="18"><span class="value" data-prop="content" data-pos="width"></span></td>
							</tr>
							<tr>
								<td>Height: </td>
								<td width="30" height="18"><span class="value" data-prop="content" data-pos="height"></span></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
(function($) {
	
	function BoxEditor(container, options) {
		
		var _editor;
		function getEditor() {
			if (!_editor) {
				_editor = new $.NumberInput({
					onDetach : function(editor, container) {
						if ($(container).is(".value")) {
							$(container).html(
								editor.input.val().replace(/^$/, "-")
							).removeClass("hover");
						}
					}
				});
				
				_editor.widget.bind("mouseover", false);
			}
			return _editor;
		}
		
		this.config = $.extend(true, {
			// mouseover or click or any uther event desired
			editEvent : "click", 
			position : {
				enabled : true,
				top     : { enabled : true, value : "0%" },
				right   : { enabled : true, value : 0, available : false },
				bottom  : { enabled : true, value : 0, available : false },
				left    : { enabled : true, value : "0%" }
			},
			margin : {
				enabled : true,
				top     : { enabled : true, min : 0, value : 0 },
				right   : { enabled : true, min : 0, value : 0 },
				bottom  : { enabled : true, min : 0, value : 0 },
				left    : { enabled : true, min : 0, value : 0 }
			},
			border : {
				enabled : true,
				top     : { enabled : true, min : 0, value : 0 },
				right   : { enabled : true, min : 0, value : 0 },
				bottom  : { enabled : true, min : 0, value : 0 },
				left    : { enabled : true, min : 0, value : 0 }
			},
			content : {
				enabled : true,
				width   : { enabled : true, min : 2 },
				height  : { enabled : true, min : 2 }
			}
		}, options);
		
		var $container = $(container),
			layers     = {
				position : $container.find(".position"),
				margin   : $container.find(".margin"  ),
				border   : $container.find(".border"  ),
				content  : $container.find(".content" )
			},
			self = this,
			pos  = ["top", "right", "bottom", "left"];
		
		// each property value
		$(".value", container).each(function(i, o) {
			var $o   = $(o), 
				pos  = $o.attr("data-pos"),
				prop = $o.attr("data-prop");
			
			
			if (pos && prop) {
				
				// Initially disables values 
				$o.toggleClass(
					"disabled", 
					!self.config[prop].enabled || 
					!self.config[prop][pos].enabled || 
					self.config[prop][pos].available === false
				);
				
				
				// Attach in-place editor
				$o.bind(self.config.editEvent, function(e) {
					if (!$o.is(".disabled, .hover, .disabled > .value, .disabled > table .value")) {
						$o.addClass("hover");
						var editor = getEditor();
						editor.detach(function() {
							var cfg = self.config[prop][pos];
							editor.configure({
								value    : $o.text().replace(/^\s*-\s*$/, ""),
								min      : cfg.min || cfg.min === 0 ? cfg.min : -Infinity,
								max      : cfg.max || cfg.max === 0 ? cfg.max :  Infinity,
								step     : cfg.step || 1
							});
							editor.widget.appendTo($o.empty());
							editor.input.trigger("focus");
							cfg = null;
						});
					}
				});
				
				// Set initial value
				$o.text(
					self.config[prop][pos].available === false
					? "-"
					: self.config[prop][pos].value || self.config[prop][pos].value === 0
						? self.config[prop][pos].value
						: "-"
				);
			}
			
		});
		
		$.each(layers, function(name, obj) {
			
			// Highlight the current area
			obj.mouseover(function(e) { 
				$.each(layers, function(x, o) {
					if (o[0] != this) o.removeClass("hover");
				});
				$(this).addClass("hover"); 
				e.stopPropagation(); 
			});
			
			// Toggle enabled on checkbox click
			obj.find("input:checkbox").click(function() {
				$(this).closest("div").toggleClass("disabled", !this.checked);
				getEditor().detach();
			}).attr("checked", !!self.config[name].enabled);
			
		});
		
		// Clear all backgrounds on mouseleave
		$container.bind("mouseleave", function() {
			$.each(layers, function(x, o) {
				o.removeClass("hover");
			});
		});
		
	}
	
	$(function() {
		
		$(".box-editor").each(function() {
			new BoxEditor(this);
		})
		.bind("change input", function(e) {
			
			if ($(e.target).is(".num-editor input")) {
				var input     = $(e.target);
				var valueSpan = input.closest(".value");
				var prop      = valueSpan.attr("data-prop");
				var pos       = valueSpan.attr("data-pos");
				
				if ( e.type == "input" && prop == "border" ) {
					$('.value[data-prop="border"][data-pos!="' + pos + '"]').text(input.val());
				}
				
				if ( e.type == "change" ) {
					switch (prop) {
						case "position": 
							var val = pos == "left" 
							? $.floatVal(input.val()) + "% " + $.floatVal($('.value[data-prop="position"][data-pos="top"]').text()) + "%"
							: $.floatVal($('.value[data-prop="position"][data-pos="left"]').text()) + "% " + $.floatVal(input.val()) + "%"
							console.log("change pos", val)
							ChartBuilder.getChartEngine().set(
								"graphset[0].plotarea.position",
								val
							);
						break;
						
						case "border": 
							ChartBuilder.getChartEngine().set(
								"graphset[0].plotarea.border-width",
								$.intVal(input.val())
							);
						break;
					}
				}
			}
			
			
			
			//console.log(e.type, this, arguments);
		});
		
	});
	
	$(ENV.container).trigger("ready");
})(jQuery);
</script>
