<div class="row" style="margin-top: 4px;">
	<div class="group-label">Data Source: </div>
	<div class="control">
		<select class="dataActionSelector">
			<option value="generate">Generate</option>
			<option value="edit">Edit</option>
			<option value="upload">Upload</option>
		</select>
		<span class="upload-controls">
			&nbsp;&nbsp; <label>JSON File: 
			<input type="file" class="upload-file" />
			</label>
			<a class="upload-data button" style="padding: 2px 10px">
				<img src="css/upload.png" /> Upload
			</a>
		</span>
	</div>
	<div class="action-generate">
		<div class="row no-border">
			<div class="group-label">Plots:</div>
			<div class="control">
				<input type="number" name="genDataPlots" size="3" min="0" />
			</div>
		</div>
		<div class="row no-border">
			<div class="group-label">Ticks:</div>
			<div class="control">
				<input type="number" name="genDataTicks" size="3" min="0" />
			</div>
		</div>
		<div class="row no-border">
			<div class="group-label">Value Range:</div>
			<div class="control">
				<input type="number" name="genDataRangeMin" size="3" />
				-
				<input type="number" name="genDataRangeMax" size="3" />
			</div>
		</div>
		<div class="row no-border">
			<div class="group-label"></div>
			<div class="control">
				<a class="refresh-data button" style="padding: 2px 10px">
					<img src="css/refresh.png" /> Refresh
				</a>	
			</div>
		</div>
	</div>
	<div class="action-edit">
		<textarea class="action-edit-textarea" style="width:98%; height: 150px;margin: 4px;font-size: 12px;"></textarea>
	</div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, console*/
(function($) {
    
    var CE     = ChartBuilder.getChartEngine(),
		DATA   = CE.get("data"),
		ACTION = "generate";
	
	function doGenerate() {
	    CE.dataGenerator.setMinValue($('[name="genDataRangeMin"]', ENV.container).val());
	    CE.dataGenerator.setMaxValue($('[name="genDataRangeMax"]', ENV.container).val());
	    CE.dataGenerator.setNimPlots($('[name="genDataPlots"]'   , ENV.container).val());
	    CE.dataGenerator.setNimTicks($('[name="genDataTicks"]'   , ENV.container).val());
		CE.set("graphset[0].series", CE.dataGenerator.generate());
	}
	
	function chartDataToJSON() {
	    DATA = CE.get("data");
	    return $.prettyPrint(DATA.graphset[0].series, "    ", false, true);
	}
	
	$('[name="genDataPlots"]'   , ENV.container).change(doGenerate).val(DATA.graphset[0].series.length);
	$('[name="genDataTicks"]'   , ENV.container).change(doGenerate).val(DATA.graphset[0].series[0].values.length);
	$('[name="genDataRangeMin"]', ENV.container).change(doGenerate).val(CE.dataGenerator.getMinValueFromChart());
	$('[name="genDataRangeMax"]', ENV.container).change(doGenerate).val(CE.dataGenerator.getMaxValueFromChart());
	$('.refresh-data', ENV.container).click(doGenerate);
	
	CE.removeEventListener("chartComplete.updateDataGen");
	CE.addEventListener("chartComplete.updateDataGen", function() {
		DATA = this.get("data");
		$('[name="genDataPlots"]'   , ENV.container).val(DATA.graphset[0].series.length);
		$('[name="genDataTicks"]'   , ENV.container).val(DATA.graphset[0].series[0].values.length);
		$(".action-edit-textarea"   , ENV.container).val(chartDataToJSON());
	});
	
	ChartBuilder.removeEventListener("afterChartTypeChange.updateDataGen");
	ChartBuilder.addEventListener("afterChartTypeChange.updateDataGen", function() {
		DATA = CE.get("data");
	    $('[name="genDataRangeMin"]', ENV.container).val(CE.dataGenerator.getMinValueFromChart() - 1);
		$('[name="genDataRangeMax"]', ENV.container).val(CE.dataGenerator.getMaxValueFromChart() + 1);
		$(".action-edit-textarea"   , ENV.container).val(chartDataToJSON());
	});
	
	$(".dataActionSelector", ENV.container).unbind().change(function() {
	    ACTION = $(this).val();
	    switch (ACTION) {
	        case "generate":
	            $(".action-generate", ENV.container).show();
	            $(".action-edit", ENV.container).hide();
	            $(".upload-controls", ENV.container).hide();
	        break;
	        case "edit":
	            $(".action-edit-textarea", ENV.container).val(chartDataToJSON());
	            $(".action-generate", ENV.container).hide();
	            $(".upload-controls", ENV.container).hide();
	            $(".action-edit", ENV.container).show();
	        break;
	        case "upload":
	            $(".action-generate", ENV.container).hide();
	            $(".action-edit", ENV.container).hide();
	            $(".upload-controls", ENV.container).show();
	        break;
	    }
	}).val(ACTION).triggerHandler("change");
	
	$(ENV.container).trigger("ready");
})(jQuery);
</script>