<div class="row no-border" style="margin: 4px 2px;">
	<div class="control">
		<label><b> Format: </b>
			<select class="action-preview-type">
				<option value="jpg">JPG</option>
				<option value="png">PNG</option>
				<!--option value="bmp">BMP</option-->
				<option value="json">JSON</option>
			</select>
		</label>
		<a class="save-data button" style="padding: 2px 10px">
			<img src="css/save.png" style="margin-top: -1px"/> Save
		</a>
	</div>
</div>
<div class="action-preview">
	<div class="action-preview-message selectable" style="padding: 4px"></div>
	<img class="action-preview-image" />
</div>
<form target="helper-frame" method="post" action="core/zingcharts/exportdata.php">
	<input type="hidden" name="mime" />
	<input type="hidden" name="name" />
	<input type="hidden" name="data" />
</form>
<style type="text/css">
.action-preview {
	position: absolute; 
	top: 34px; 
	bottom: 1px; 
	right : 1px; 
	left : 1px; 
	border: 1px solid #888; 
	overflow: auto;
	z-index: 10;
	padding: 1px;
	background: #EEE;
	line-height: 14px;
	box-sizing: border-box;
}
</style>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, console*/
(function($) {
    
    var CE = ChartBuilder.getChartEngine();
	
	function doImagePreview() {
		var type = $(".action-preview-type", ENV.container).val();
		var data = zingchart.exec("chart", "getimagedata", '{"iletype":"' + type + '"}');
		$(".action-preview-message", ENV.container).hide();
		$(".action-preview-image", ENV.container).attr(
			"src", 
			"data:image/" + type + ";base64," + data
		).show();
		$('form [name="data"]', ENV.container).val(data);
		$('form [name="mime"]', ENV.container).val("image/" + type);
		$(".save-data", ENV.container).removeClass("disabled");
	}
	
	function preview(e) {
		var type = $(".action-preview-type", ENV.container).val();
		$(".action-preview-image", ENV.container).attr("src", "about:blank").hide();
		$(".action-preview-message", ENV.container).hide();
		$(".save-data", ENV.container).addClass("disabled");
		$('form [name="type"]', ENV.container).val(type);
		$('form [name="name"]', ENV.container).val("chart." + type);
		
		if (type != "json") {
			if (CE._renderer == "svg") {
				$(".action-preview-message", ENV.container).html(
					'Please use the "Canvas" or "Flash" renderers to export an image.'
				).show();
			}
			else {
				var animated = !!e && CE.get("graphset[0].plot.animate");
				if (animated) {
					var speed = CE.get("graphset[0].plot.speed") || 1.5;
					if (CE._renderer == "flash") {
						speed *= 3;
					}
					$(".action-preview-message", ENV.container).html('Waiting for the animation to complete...').show();
					setTimeout(doImagePreview, 500 + speed * 1000);
				}
				else {
					doImagePreview();
				}
				
			}
		}
		else {
			var data = JSON.stringify(CE.get("data"));
			$(".action-preview-message", ENV.container).text(data).show();
			$('form [name="data"]', ENV.container).val(data);
			$('form [name="mime"]', ENV.container).val("text/" + type);
			$(".save-data", ENV.container).removeClass("disabled");
		}
	}
	
	$(".action-preview-type", ENV.container).unbind().change(preview);
	$(".save-data", ENV.container).unbind().click(function() {
		if (!$(this).is(".disabled")) {
			$('form', ENV.container)[0].submit();
		}
	});
	
	
	CE.removeEventListener(".updateDataExport");
	CE.addEventListener("chartComplete.updateDataExport", preview);
	
	ChartBuilder.removeEventListener("afterChartTypeChange.updateDataExport");
	ChartBuilder.addEventListener("afterChartTypeChange.updateDataExport", preview);
	
	$(ENV.container).trigger("ready");
	preview();
})(jQuery);
</script>