<form onSubmit="return false" class="plotarea">
	<div class="row box-editor"></div>
	<div class="row bg-editor"></div>
	<div class="row border-editor"></div>
	<div class="row shadow-editor"></div>
	<div class="row bevel-editor"></div>
</form>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
    var DATA             = {}, 
	    IN_TRANSACTION   = 1,
	    ZC               = ChartBuilder.getChartEngine("Zingcharts"),
	    EVENTS_NAMESPACE = "generalChartEditor",
	    PATH             = "graphset[0].plotarea";
    
	function checkSize(data) {
		var msg = "Inacceptable value (%q) entered for the chart %s. " +
				  "It must be an integer greather or equal to 50";
				  
		if ("height" in data) {
			var h = $.intVal(data.height);
			if (h < 50) {
				ChartBuilder.Logger.warn(msg, h, "height");
				return false;
			}
		}
		
		if ("width" in data) {
			var w = $.intVal(data.width);
			if (w < 50) {
				ChartBuilder.Logger.warn(msg, w, "width");
				return false;
			}
		}
		
		return true;
	}
	
	function commit(data, props) {
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		
		if ( IN_TRANSACTION === 0 ) {
			var curData = ChartBuilder.getChartEngine().get(PATH);
			var newData = $.extend(true, curData, DATA);
			newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
			newData = $.JsonCleanupEmptyObjectProperies(newData);
			if (checkSize(newData)) {
				if ( $.isEmptyObject(newData) ) {
					ChartBuilder.getChartEngine().unset( PATH );
				}
				else {
					ChartBuilder.getChartEngine().set( PATH, newData );
				}
			}
			curData = newData = null;
		}
	}
	
	$(ENV.container).off("show.setDimesionsMin").on("show.setDimesionsMin", function() {
		$('.box-editor input[name="boxWidth"]', this).attr("min", 50);
		$('.box-editor input[name="boxHeight"]', this).attr("min", 50);
	});
	
	var done = 0;
	function commonCallback() {
		if (++done == 5) {
			$(ENV.container).trigger("ready");
			IN_TRANSACTION = 0;
		}
	}
	
	// Sub queries to load the reusable editors ================================
	 ZC.embedEditor({
		editorID : "box",
		target   : $(".box-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "background",
		target   : $(".bg-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "border",
		target   : $(".border-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC = null;
	
})(jQuery);
</script>
