<div class="tabs-widget keep-state">
	<div class="tabs">
		<a class="tab" data-url="core/zingcharts/editors/general-canvas.html">Canvas</a>
		<a class="tab" data-url="core/zingcharts/editors/general-chart.html">Chart</a>
	</div>
	<div class="pannels"></div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV*/
$(ENV.container).trigger("ready");
</script>