<div class="row">
	<div class="group-label">Animate</div>
	<div class="control"><input type="checkbox" name="animate" /></div>
	<div class="animate-extra hidden">
		<div class="row">
			<div class="group-label">Effect</div>
			<div class="control">
				<select name="effect">
					<option value="1">Default</option>
					<option value="3">Slide Down</option>
					<option value="4">Slide Up</option>
					<option value="5">Slide Right</option>
					<option value="6">Slide Left</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="group-label">Speed</div>
			<div class="control">
				<input type="range" name="speed" min="0.1" max="3" step="0.1"  />
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="group-label">Dimensions</div>
	<div class="control">
		<label><div class="label-text"><span>Width:  </span></div><input type="number" name="canvasWidth"  size="3" min="150" /></label>
		<label><div class="label-text"><span>Height: </span></div><input type="number" name="canvasHeight" size="3" min="150" /></label>
	</div>
</div>
<div class="row bg-editor"></div>
<div class="row border-editor"></div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
    
    var DATA             = {}, 
	    IN_TRANSACTION   = 1,
	    ZC               = ChartBuilder.getChartEngine("Zingcharts"),
	    EVENTS_NAMESPACE = "generalChartCanvasEditor",
	    PATH             = "graphset[0]";
    
    function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
    
	function commit(editorData, editorProps) {
		if ( IN_TRANSACTION === 0 ) {
			var data = ChartBuilder.getChartEngine().get(PATH); 
		    $.each(editorProps, function(i, prop) {
		        data[prop] = editorData.hasOwnProperty(prop) ? editorData[prop] : SKIP_THIS_PROPERTY;
			});
		    ChartBuilder.getChartEngine().set(PATH, data);
		    data = null;
		}
	}
	
	$(".border-extra", ENV.container).fadeOut(0).removeClass("hidden");
	
	function setFx() {
	    if (IN_TRANSACTION === 0) {
	        var data = ChartBuilder.getChartEngine().get__data();
	        $.JSONPath(data, "graphset[0].plot.speed",   $.floatVal($$("speed").val()));
	        $.JSONPath(data, "graphset[0].plot.effect",  $.intVal  ($$("effect").val()));
	        $.JSONPath(data, "graphset[0].plot.animate", $$("animate")[0].checked);
	        ChartBuilder.getChartEngine().set("data", data);
	        data = null;
	    }
	}
	
	function setSize() {
		var h = $.intVal($$("canvasHeight").val());
		var w = $.intVal($$("canvasWidth" ).val());
		var msg = "Inacceptable value (%q) entered for the canvas %s. " +
		          "It must be an integer greather or equal to 150";
				  
		if (h < 150) {
			ChartBuilder.Logger.warn(msg, h, "height");
			return;
		}
		
		if (w < 150) {
			ChartBuilder.Logger.warn(msg, w, "width");
			return;
		}
		
		ChartBuilder.getChartEngine().set__canvasSize(w, h);
	}
	
	function initForm() {
		$$("animate").unbind("click").click(function() {
			setFx();
			$(this).closest(".row").find(".animate-extra")[this.checked ? "show" : "hide"](400);
		});
	
		$$("speed").change(setFx);
		$$("effect").change(setFx);
		
		// canvasWidth
		$$("canvasWidth").change(function() {
			setSize();
		}).val(ChartBuilder.getChartEngine().get__canvasWidth());
		
		// canvasHeight
		$$("canvasHeight").change(function() {
			setSize();
		}).val(ChartBuilder.getChartEngine().get__canvasHeight());
		
		$(".bg-editor"    , ENV.container).triggerHandler("initUI", [{path : "graphset[0]"}]);
		$(".border-editor", ENV.container).triggerHandler("initUI", [{path : "graphset[0]"}]);
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 2) {
			initForm();
			$(ENV.container).trigger("ready");
			IN_TRANSACTION = 0;
		}
	}
	
	ZC.embedEditor({
		editorID : "border",
		target   : $(".border-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "background",
		target   : $(".bg-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC = null;
	
})(jQuery);
</script>
