<div class="row">
	<div class="group-label">Visible</div>
	<div class="control">
		<input type="checkbox" name="guidesVisible" />
	</div>
</div>
<div class="row">
	<div class="group-label">Tooltip Text</div>
	<div class="control">
		<input type="text" name="guidesText" size="35" value="%v" />
	</div>
</div>
<div class="row">
	<div class="group-label">Opacity</div>
	<div class="control">
		<input type="range" name="guidesAlpha" min="0" max="1" value="1" />
	</div>
</div>
<div class="row text-editor"></div>
<div class="row line-editor"></div>
<div class="row shadow-editor"></div>
<div class="row bevel-editor"></div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "guidesEditor",
		PATH = "graphset[0].guide";
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	function commit(data, props) {
		
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		
		if ( !IN_TRANSACTION ) {
			var curData = ChartBuilder.getChartEngine().get(PATH);
			//if ( !ChartBuilder.getChartEngine().get("graphset[0].legend.visible") ) {
			//	ChartBuilder.getChartEngine().set("graphset[0].legend.visible", false);
			//}
			var newData = $.extend(true, curData, DATA);
			newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
			newData = $.JsonCleanupEmptyObjectProperies(newData);
			
			if ( !newData.visible || $.isEmptyObject(newData) ) {
				ChartBuilder.getChartEngine().unset( PATH );
			}
			else {
				ChartBuilder.getChartEngine().set( PATH, newData );
			}
			curData = newData = null;
		}
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 4) {
			//initForm();
			IN_TRANSACTION = 0;
			$(ENV.container).trigger("ready");
		}
	}
	
	/*
		"guide":{
            "visible":true,
            "alpha":1,
            "tooltip-text":"%v",
            "line-color":"#000000",
            "line-width":1,
            "line-gap-size":0
        } 
	*/
	//guidesVisible
	//guidesText
	//guidesAlpha
	$$("guidesVisible").click(function() {
		DATA.visible = this.checked;
		if ( this.checked ) {
			IN_TRANSACTION++;
			$$("guidesText").triggerHandler("change");
			$$("guidesAlpha").triggerHandler("change");
			IN_TRANSACTION--;
		}
		commit();
	});
	
	$$("guidesText").change(function() {
		DATA["tooltip-text"] = (/^\s*$/).test(this.value) ? SKIP_THIS_PROPERTY : this.value;
		commit();
	});
	
	$$("guidesAlpha").change(function() {
		DATA.alpha = $.floatVal(this.value);
		commit();
	});
	
	ZC.embedEditor({
		editorID : "text",
		target   : $(".text-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "line",
		target   : $(".line-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
})(jQuery);
</script>