<div style="position: absolute; top: 0; bottom: 0; width: 100%; z-index: 10">
	<div style="height: 30px; padding: 4px;">
		<div class="radio-group">
			<a data-value="highlight" style="width: 120px">Highlight Mode</a>
			<a data-value="edit"      style="width: 120px">Edit Mode</a>
		</div>
		<a class="select-all button" style="padding: 2px 10px">Select All</a>
		<!--a class="copy" style="padding: 2px 10px">Copy to Clipboard</a-->
	</div>
	<div id="highlight-code-view" class="code"></div>
	<div class="code-wrapper hidden">
		<textarea id="source" class="code" style="line-height: 14px;width:100%;height: 100%"></textarea>
	</div>
</div>
<style type="text/css">
#highlight-code-view, .code-wrapper {
	position: absolute; 
	top: 30px; 
	bottom: 1px; 
	right : 1px; 
	left : 1px; 
	border: 1px solid #888; 
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
	overflow: auto;
	z-index: 10;
	padding: 1px;
	background: #EEE;
	line-height: 14px;
	box-sizing: border-box;
}
</style>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV*/
(function($) {
	
	var textarea = $("#source", ENV.container),
		htmlarea = $("div.code", ENV.container),
		s,
		CE;
	
	function selectAll() {
		if (textarea.is(":visible")) {
			textarea[0].focus();
			textarea[0].select();
		}
		else {
			if (document.createRange) {
			    // IE9 and modern browsers
			    var sel = window.getSelection();
				sel.removeAllRanges();
				sel.selectAllChildren(htmlarea[0]);
			} else {
			    // IE 8 and earlier.  This stuff won't work on IE9.
			    // (unless forced into a backward compatibility mode. 
			    var r = document.body.createTextRange();
			    r.moveToElementText(htmlarea[0]);
			    r.select();
			}
		}
	}
	
	$(".select-all", ENV.container).unbind().click(selectAll);
	
	//$(".copy", ENV.container).mousedown(function copy() {
	//	selectAll();
	//	document.execCommand("Copy", false, null);
	//	return false;
	//});
	
	function showData(data) {
		var _data = data;
		if (!_data) {
			
			// Could throw an error when this panel is shown for the first time 
			// because the data may not be available at this time (but it will 
			// came later and get displayed using the "chartDataChange.showJSON"
			// event listener).
			try {
				_data = CE.get("data");
			}
			catch (ex) {
				ChartBuilder.Logger.warn("Trying to access the chart data before it is available");
			}
		}
		
		if (_data) {
			var html = !$("#source", ENV.container).is(":visible");
			if (!html) {
				s = textarea.scrollTop;
				textarea.val($.prettyPrint(_data, "    ", false, true)).parent().show();
				if (s) {
					textarea.scrollTop = s;
				}
			}
			else {
				s = htmlarea.scrollTop;
				htmlarea.html($.prettyPrint(_data, "    ", false, true, true)).show();
				if (s) {
					htmlarea.scrollTop = s;
				}
			}
		}
	}

	// This file may be loaded BEFORE the ChartEngine is available. That's why 
	// we need to wait for it before attaching listeners...
	var attempts = 0;
	function _init() {
	    CE = window.ChartBuilder && ChartBuilder.getChartEngine ? ChartBuilder.getChartEngine() : null;
	    if ( CE ) {
	        
			
			
			textarea.unbind().bind("change", function() {
				var x = this.value;
				try {
					x = jQuery.parseJSON(x);
				}
				catch(ex) {
					try {
						x = Function("", "return (" + x + ");")();
					}
					catch(ex2) {
						ChartBuilder.Logger.error(ex2.message);
						return;
					}
				}
				CE.set("data", x);
			});
			
			$(".radio-group", ENV.container).unbind().bind("change", function() {
				if (this.value == "edit") {
					htmlarea.hide();
					textarea.parent().show();
				}
				else {
					textarea.parent().hide();
					htmlarea.show();
				}
				showData();
			}).find("a:first").trigger("click");
			
			CE.removeEventListener("chartDataChange.showJSON");
			CE.addEventListener("chartDataChange.showJSON", function(e, data) {
				if ($(ENV.container).is(":visible")) {
					showData(data.data);
				}
			});
			
			$(ENV.container).trigger("ready");
	    }
	    else {
	        if (++attempts < 500) {
	        	setTimeout(_init, 100);
	        }
	    }
	}
	
	_init();
	
})(jQuery);
</script>