<div class="tabs-widget keep-state">
	<div class="tabs">
		<a class="tab" data-url="core/zingcharts/editors/legend-legend.html">Legend</a>
		<a class="tab" data-url="core/zingcharts/editors/legend-items.html">Items</a>
		<a class="tab" data-url="core/zingcharts/editors/legend-header.html">Header</a>
		<a class="tab" data-url="core/zingcharts/editors/legend-footer.html">Footer</a>
	</div>
	<div class="pannels legend"></div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV*/
$(ENV.container).trigger("ready");
</script>