<div class="row">
	<div class="group-label">Visible</div>
	<div class="control">
		<input type="checkbox" name="legendHeaderVisible" />
	</div>
	<div class="row no-border">
		<div class="group-label">Text</div>
		<div class="control">
			<input type="text" name="legendHeaderText" size="35" />
		</div>
	</div>
</div>

<!-- Background -->
<div class="row bg-editor"></div>

<!-- Border -->
<div class="row border-editor"></div>

<!-- Font -->
<div class="row text-editor"></div>

<!-- Shadow -->
<div class="row shadow-editor"></div>

<!-- Bevel -->
<div class="row bevel-editor"></div>

<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "legendHeaderEditor",
		PATH = "graphset[0].legend.header";
	
	function commit(data, props) {
		
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		
		if ( !IN_TRANSACTION ) {
			if (!$$("legendHeaderVisible")[0].checked) {
				ChartBuilder.getChartEngine().unset( PATH );
			}
			else {
				var curData = ChartBuilder.getChartEngine().get(PATH);
				var newData = $.extend(true, curData, DATA);
				newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
				newData = $.JsonCleanupEmptyObjectProperies(newData);
				
				if ( $.isEmptyObject(newData) ) {
					ChartBuilder.getChartEngine().unset( PATH );
				}
				else {
					ChartBuilder.getChartEngine().set( PATH, newData );
				}
				curData = newData = null;
			}
		}
	}
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
		
	var done = 0;
	function commonCallback() {
		if (++done == 5) {
			//initForm();
			IN_TRANSACTION = 0;
			$(ENV.container).trigger("ready");
		}
	}
	
	// legendHeaderVisible
	// legendHeaderText
	
	$$("legendHeaderVisible").click(function() {
		if ( this.checked ) {
			var text = $$("legendHeaderText").val();
			DATA.text = (/^\s*$/).test(text) ? SKIP_THIS_PROPERTY : text;
		}
		commit();
	});
	
	$$("legendHeaderText").change(function() {
		DATA.text = (/^\s*$/).test(this.value) ? SKIP_THIS_PROPERTY : this.value;
		commit();
	});
	
	
	ZC.embedEditor({
		editorID : "background",
		target   : $(".bg-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "border",
		target   : $(".border-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "text",
		target   : $(".text-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
})(jQuery);
</script>