<div class="row">
	<div class="group-label">Visible</div>
	<div class="control">
		<input type="checkbox" name="legendToggle" />
	</div>
</div>
<div class="row">
	<div class="group-label">Minimize</div>
	<div class="control">
		<input type="checkbox" name="legendMinimize" />
	</div>
</div>
<div class="row">
	<div class="group-label">Drag By</div>
	<div class="control">
		<select name="legendDragHandler">
			<option value="">No Drag</option>
			<option value="icon">Icon</option>
			<option value="header">Header</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="group-label">Layout</div>
	<div class="control">
		<label><span class="label-text">Across:</span><input name="layoutRows" type="number" size="3" value="1" /></label>
	</div>
	<div class="row no-border">
		<div class="group-label"></div>
		<div class="control">
			<label><span class="label-text">Down:</span><input name="layoutCols" type="number" size="3" value="" /></label>
		</div>
	</div>
</div>

<!-- Box -->
<div class="row box-editor"></div>

<!-- Background -->
<div class="row bg-editor"></div>

<!-- Border -->
<div class="row border-editor"></div>

<!-- Shadow -->
<div class="row shadow-editor"></div>

<!-- Bevel -->
<div class="row bevel-editor"></div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "legendEditor",
		PATH = "graphset[0].legend";
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	function commit(data, props) {
		
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		
		if ( !IN_TRANSACTION ) {
			
			
			var curData = ChartBuilder.getChartEngine().get(PATH);
			var newData = $.extend(true, curData, DATA);
			newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
			newData = $.JsonCleanupEmptyObjectProperies(newData);
			
			if ( $.isEmptyObject(newData) ) {
				ChartBuilder.getChartEngine().unset( PATH );
			}
			else {
				if (!$$("legendToggle")[0].checked) {
					newData.visible = false;
				}
				ChartBuilder.getChartEngine().set( PATH, newData );
			}
			curData = newData = null;
		}
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 5) {
			//initForm();
			IN_TRANSACTION = 0;
			$(ENV.container).trigger("ready");
		}
	}
	
	// legendToggle
	// legendMinimize
	// legendDragHandler
	// layoutCols
	// layoutRows
	// draggable
	function updateUI(data) {
		if (data && data.path) {
			var state = ChartBuilder.getChartEngine().get(data.path) || {};//console.log(state);
			IN_TRANSACTION++;
			
			$$("legendDragHandler").val(state["drag-handler"] || "").triggerHandler("change");
			
			$$("legendMinimize")[0].checked = !!state.minimize;
			$$("legendMinimize").triggerHandler("click");
			
			var layout = String(state.layout || "2x*").split("x");
			$$("layoutCols").val($.intVal(layout[0]), 2).triggerHandler("change");
			$$("layoutRows").val($.intVal(layout[1]), "*").triggerHandler("change");
			
			
			$$("legendToggle")[0].checked = !$.isEmptyObject(state) && !state.visible;
			$$("legendToggle").triggerHandler("click");
			
			IN_TRANSACTION--;
		}
	}
	
	$$("legendToggle").click(function() {
		if ( this.checked ) {
			DATA["drag-handler"] = $$("legendDragHandler").val() || SKIP_THIS_PROPERTY;
			DATA.layout = $$("layoutCols").val() + "x" + $$("layoutRows").val();
			DATA.minimize = $$("legendMinimize")[0].checked;
			DATA.draggable = DATA["drag-handler"] !== SKIP_THIS_PROPERTY;
			DATA.visible = true;
		}
		else {
			for (var x in DATA) {
				DATA[x] = SKIP_THIS_PROPERTY;
			}
		}
		commit();
	});
	
	$$("legendDragHandler").change(function() {
		var val = $(this).val();
		if (!val) {
			DATA["drag-handler"] = SKIP_THIS_PROPERTY;
			DATA.draggable = false;
		}
		else {
			DATA["drag-handler"] = val;
			DATA.draggable = true;
		}
		commit();
	});
	
	$$("legendMinimize").click(function() {
		DATA.minimize = this.checked;
		commit();
	});
	
	$$("layoutCols").change(function() {
		DATA.layout = this.value + "x" + ($$("layoutRows").val() || "*");
		commit();
	});
	
	$$("layoutRows").change(function() {
		DATA.layout = $$("layoutCols").val() + "x" + (this.value || "*");
		commit();
	});
	
	// Sub queries to load the reusable editors
	ZC.embedEditor({
		editorID : "box",
		target   : $(".box-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "background",
		target   : $(".bg-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "border",
		target   : $(".border-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC = null;
	
})(jQuery);
</script>