<div class="row">
	<div class="group-label">Highlight</div>
	<div class="control">
		<input type="checkbox" name="legendItemsHighlight" />
	</div>
</div>
<div class="row">
	<div class="group-label">Toggle</div>
	<div class="control">
		<select name="legendItemsToggle">
			<option value="">None</option>
			<option value="hide">Hide</option>
			<option value="remove">Remove</option>
		</select>
	</div>
</div>

<!-- Margins -->
<div class="row margins-editor"></div>

<!-- Border -->
<div class="row border-editor"></div>

<!-- Font -->
<div class="row text-editor"></div>

<!-- Shadow -->
<div class="row shadow-editor"></div>

<!-- Bevel -->
<div class="row bevel-editor"></div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "legendItemsEditor",
		PATH = "graphset[0].legend.item";
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	function commit(data, props) {
		
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		
		if ( !IN_TRANSACTION ) {
			var curData = ChartBuilder.getChartEngine().get(PATH);
			if ( !ChartBuilder.getChartEngine().get("graphset[0].legend.visible") ) {
				ChartBuilder.getChartEngine().set("graphset[0].legend.visible", false);
			}
			var newData = $.extend(true, curData, DATA);
			newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
			newData = $.JsonCleanupEmptyObjectProperies(newData);
			
			if ( $.isEmptyObject(newData) ) {
				ChartBuilder.getChartEngine().unset( PATH );
			}
			else {
				ChartBuilder.getChartEngine().set( PATH, newData );
			}
			curData = newData = null;
		}
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 5) {
			//initForm();
			IN_TRANSACTION = 0;
			$(ENV.container).trigger("ready");
		}
	}
	
	// legendItemsHighlight - plot.highlight (bool)
	// legendItemsToggle    - toggle(bool) & toggle-action(hide|remove)
	$$("legendItemsToggle").change(function() {
		var val = $(this).val();
		if (!val) {
			DATA["toggle-action"] = SKIP_THIS_PROPERTY;
			DATA.toggle = false;
		}
		else {
			DATA["toggle-action"] = val;
			DATA.toggle = true;
		}
		commit();
	});
	
	$$("legendItemsHighlight").click(function() {
		ChartBuilder.getChartEngine().set("graphset[0].plot.highlight", this.checked);
	});
	
	ZC.embedEditor({
		editorID : "margins",
		target   : $(".margins-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "border",
		target   : $(".border-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "text",
		target   : $(".text-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
})(jQuery);
</script>