<div class="tabs-widget keep-state">
	<div class="tabs">
		<a class="tab" data-url="core/zingcharts/editors/markers-regular.html">Regular</a>
		<a class="tab" data-url="core/zingcharts/editors/markers-hover.html">Hover</a>
		<a class="tab" data-url="core/zingcharts/editors/markers-click.html">Click</a>
	</div>
	<div class="pannels"></div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV*/
$(ENV.container).trigger("ready");
</script>