<div class="row">
	<div class="group-label">Type</div>
	<div class="control">
		<select name="markersClickType">
			<option value="">Default</option>
			<option value="circle">Circle</option>
			<option value="square">Square</option>
			<option value="triangle">Triangle</option>
			<option value="diamond">Diamond</option>
			<option value="plus">Plus</option>
			<option value="cross">Cross</option>
			<option value="none">None</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="group-label">Size</div>
	<div class="control">
		<input type="number" size="3" value="4" min="0" max="100" name="markersClickSize" />
	</div>
</div>
<div class="row background-editor"></div>
<div class="row border-editor"></div>
<div class="row shadow-editor"></div>
<div class="row bevel-editor"></div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "markersClickEditor",
		PATH = "graphset[0].plot.click-marker";
		
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	function commit(data, props) {
		
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		
		if ( !IN_TRANSACTION ) {
			var curData = ChartBuilder.getChartEngine().get(PATH);
			var newData = $.extend(true, curData, DATA);
			newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
			newData = $.JsonCleanupEmptyObjectProperies(newData);
			
			if ( $.isEmptyObject(newData) ) {
				ChartBuilder.getChartEngine().unset( PATH );
			}
			else {
				ChartBuilder.getChartEngine().set( PATH, newData );
			}
			curData = newData = null;
		}
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 4) {
			IN_TRANSACTION = 0;
			$(ENV.container).trigger("ready");
		}
	}
	
	$$("markersClickType").change(function() {
		DATA.type = $(this).val() || SKIP_THIS_PROPERTY;
		commit();
	});
	
	$$("markersClickSize").change(function() {
		DATA.size = (/^\s*$/).test(this.value) ? SKIP_THIS_PROPERTY : $.intVal(this.value);
		commit();
	});
	
	ZC.embedEditor({
		editorID : "background",
		target   : $(".background-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "border",
		target   : $(".border-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC = null;
	
})(jQuery);
</script>