<div class="row">
	<div class="group-label">Visible</div>
	<div class="control">
		<input type="checkbox" name="previewVisible" />
	</div>
</div>
<div class="row">
	<div class="group-label">Enable Zoom</div>
	<div class="control">
		<label>X <input type="checkbox" name="previewZoomX" /></label>
		<label>Y <input type="checkbox" name="previewZoomY" /></label>
	</div>
</div>
<div class="row">
	<div class="group-label">Display Graph</div>
	<div class="control">
		<input type="checkbox" name="previewGraph" />
	</div>
</div>
<div class="row box-editor"></div>
<div class="row text-editor"></div>
<div class="row border-editor"></div>
<div class="row shadow-editor"></div>
<div class="row bevel-editor"></div>
<script type="text/javascript">
/*
 	"preview":{
            "visible":true,
            "height":50,
            "position":"50% 100%",
            "margin-top":10,
            "margin-right":50,
            "margin-left":50,
            "margin-bottom":15,
            "handles":{
                
            }
        }
 */
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "previewEditor",
		PATH = "graphset[0].preview";
		
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	function commit(data, props) {
		
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		
		if ( !IN_TRANSACTION ) {
			var curData = ChartBuilder.getChartEngine().get(PATH);
			//if ( !ChartBuilder.getChartEngine().get("graphset[0].legend.visible") ) {
			//	ChartBuilder.getChartEngine().set("graphset[0].legend.visible", false);
			//}
			var newData = $.extend(true, curData, DATA);
			newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
			newData = $.JsonCleanupEmptyObjectProperies(newData);
			
			if ( !newData.visible || $.isEmptyObject(newData) ) {
				ChartBuilder.getChartEngine().unset( PATH );
			}
			else {
				ChartBuilder.getChartEngine().set( PATH, newData );
			}
			curData = newData = null;
		}
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 5) {
			//initForm();
			IN_TRANSACTION = 0;
			$(ENV.container).trigger("ready");
		}
	}
	
	// previewVisible - visible (bool)
	// previewZoomX   - scale-x.zooming (bool)
	// previewZoomY   - scale-y.zooming (bool)
	// previewGraph   - plot.preview (bool)
	
	$$("previewVisible").click(function() {
		DATA.visible = this.checked;
		commit();
	});
	
	$$("previewGraph").click(function() {
		ChartBuilder.getChartEngine().set( "graphset[0].plot.preview", this.checked );
	});
	
	$$("previewZoomX").click(function() {
		ChartBuilder.getChartEngine().set( "graphset[0].scale-x.zooming", this.checked );
	});
	
	$$("previewZoomY").click(function() {
		ChartBuilder.getChartEngine().set( "graphset[0].scale-y.zooming", this.checked );
	});
	
	ZC.embedEditor({
		editorID : "box",
		target   : $(".box-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "text",
		target   : $(".text-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "border",
		target   : $(".border-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC = null;
	
})(jQuery);
</script>
