<div class="tabs-widget keep-state">
	<div class="tabs">
		<a class="tab" data-url="core/zingcharts/editors/preview-preview.html">Preview</a>
		<a class="tab" data-url="core/zingcharts/editors/preview-handles.html">Handles</a>
	</div>
	<div class="pannels"></div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV*/
$(ENV.container).trigger("ready");
</script>