<div class="row no-border" style="text-align: center">
	<div class="radio-group scale-chooser">
		<a data-value="x"  style="min-width: 100px" class="on">X Scale</a>
		<a data-value="y"  style="min-width: 100px">Y Scale</a>
	</div>
</div>
<div class="tabs-widget keep-state">
	<div class="tabs">
		<a class="tab" data-url="core/zingcharts/editors/scales-text.html">Text</a>
		<a class="tab" data-url="core/zingcharts/editors/scales-ticks.html">Ticks</a>
		<a class="tab" data-url="core/zingcharts/editors/scales-axisline.html">Axis Line</a>
		<a class="tab" data-url="core/zingcharts/editors/scales-axistext.html">Axis Text</a>
		<a class="tab" data-url="core/zingcharts/editors/scales-guide.html">Guide</a>
	</div>
	<div class="pannels"></div>
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, console*/
(function($) {
	var $CONTAINER = $(ENV.container);
	var cfg = ChartBuilder.getChartEngine().config;
	var AXIS = "x";
	
	function getTargetPath() {
		return "graphset[0].scale-" + ($(".scale-chooser", ENV.container)[0].value || "x");
	}
	
	/*
	 * Create an object that acts as a pattern for everything that could be set 
	 * by the scales (Y or Y) editor. When something is changed the "scale-x" or
	 * "scale-y" object of that pattern will be used to update the coresponding 
	 * object at the chart data.
	 */
	var pattern = {
		"scale-x" : {
			"text"       : SKIP_THIS_PROPERTY,
			"format"     : SKIP_THIS_PROPERTY,
			"max-labels" : SKIP_THIS_PROPERTY,
			"mirrored"   : SKIP_THIS_PROPERTY,
			
			"item" : {},
			
			"guide" : {},
			
			"tick" : {
				"size" : SKIP_THIS_PROPERTY
			}
		},
		"scale-y" : {
			
		}
	};
	
	$.extend(pattern["scale-x"]      , $.makeMap(cfg.reusableEditors.text.properties      , SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"]      , $.makeMap(cfg.reusableEditors.background.properties, SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"]      , $.makeMap(cfg.reusableEditors.line.properties      , SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"]      , $.makeMap(cfg.reusableEditors.dimensions.properties, SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"]      , $.makeMap(cfg.reusableEditors.margins.properties   , SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"]      , $.makeMap(cfg.reusableEditors.shadow.properties    , SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"]      , $.makeMap(cfg.reusableEditors.bevel.properties     , SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"].item , $.makeMap(cfg.reusableEditors.text.properties      , SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"].guide, $.makeMap(cfg.reusableEditors.line.properties      , SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"].guide, $.makeMap(cfg.reusableEditors.shadow.properties    , SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"].guide, $.makeMap(cfg.reusableEditors.bevel.properties     , SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"].tick , $.makeMap(cfg.reusableEditors.line.properties      , SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"].tick , $.makeMap(cfg.reusableEditors.shadow.properties    , SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-x"].tick , $.makeMap(cfg.reusableEditors.bevel.properties     , SKIP_THIS_PROPERTY));
	$.extend(pattern["scale-y"], pattern["scale-x"]);
	//console.dir(pattern);
	
	
	/*
	 * Now implement some way to pass information in both directions i.e., down 
	 * the DOM tree when something needs to be sent to the nested shared editors 
	 * or up the tree when something is changed inside the nested editors and 
	 * panels and needs to be captured...
	 */ 
	
	/* 
	 * When the user changes the Scale (X or Y) the nested panels must be 
	 * notified. Since they are lazy-loaded, the only way to this is to fire an 
	 * event that carries the needed information and gets passed dow to 
	 * child-panels from their parents. That is the "initUI" event that any panel 
	 * able to initialize itself shoul recognize (and also pass down to it's
	 * children).
	 */
	function notifyUI() {
		AXIS = $(".scale-chooser", ENV.container)[0].value;
		
		// Tell the nested UI what the current axis is and where it could read 
		// the current chart state from
		$("> .tabs-widget > .pannels > div:visible", ENV.container)
		.triggerHandler("initUI", [
			{ 
				axis : AXIS,
				path : "graphset[0].scale-" + AXIS
			}
		]);
	}
	
	$(".scale-chooser", ENV.container)
	.off(".scalesEditor")
	.on("change.scalesEditor", notifyUI);
	
	$("> .tabs-widget > .pannels", ENV.container)
	.off("show.updateUI")
	.on("show.updateUI", function(e) {
		setTimeout(function() {
			notifyUI();
		}, 0);
	});
	
	function doUserModify(path, data) {//console.log(arguments)
		
		$.JSONPath(pattern, path, data);
		var targetPath   = getTargetPath();
		var curData      = ChartBuilder.getChartEngine().get(targetPath);
		var newData      = $.extend(true, curData, pattern[path]);
		
		newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY, undefined] );
		//newData = $.JsonCleanupEmptyObjectProperies(newData);
		
		if ( $.isEmptyObject(newData) ) {
			ChartBuilder.getChartEngine().unset( targetPath );
		}
		else {
			ChartBuilder.getChartEngine().set( targetPath, newData );
		}
		//console.dir(newData);
		
		
		targetPath = curData = newData = null;
	}
	
	
	/*
	 * Observe all the possible changes from child editors
	 */
	
	// Text --------------------------------------------------------------------
	$CONTAINER.unbind("scalesTextSettingsChange.scalesEditor")
	.bind("scalesTextSettingsChange.scalesEditor", function(e, data) {
		doUserModify( "scale-" + AXIS, data );
	});
	
	// Ticks -------------------------------------------------------------------
	$CONTAINER.unbind("scaleTicksSettingsChange.scalesEditor")
	.bind("scaleTicksSettingsChange.scalesEditor", function(e, data) {
		doUserModify( "scale-" + AXIS, { tick : data } );	
	});
	
	// Axis Line ---------------------------------------------------------------
	$CONTAINER.unbind("scalesAxisLineEditorSettingsChange.scalesEditor")
	.bind("scalesAxisLineEditorSettingsChange.scalesEditor", function(e, data) {
		doUserModify( "scale-" + AXIS, data );	
	});
	
	// Axis Text ---------------------------------------------------------------
	$CONTAINER.unbind("scalesAxisTextEditorSettingsChange.scalesEditor")
	.bind("scalesAxisTextEditorSettingsChange.scalesEditor", function(e, data) {
		doUserModify( "scale-" + AXIS, data );	
	});
	
	// Axis Guide --------------------------------------------------------------
	$CONTAINER.unbind("scalesGuideEditorSettingsChange.scalesEditor")
	.bind("scalesGuideEditorSettingsChange.scalesEditor", function(e, data) {
		doUserModify( "scale-" + AXIS, { guide : data } );	
	});
	
	$CONTAINER.trigger("ready");
		
})(jQuery);
</script>