<div class="row">
	<div class="group-label">Size</div>
	<div class="control">
		<input type="number" name="scaleTicksSize" size="3" value="6" />
	</div>
</div>

<!-- Line -->
<div class="row line-editor"></div>

<!-- Shadow -->
<div class="row shadow-editor"></div>

<!-- Bevel -->
<div class="row bevel-editor"></div>

<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "scaleTicksEditor";
	
	function commit(data, props) {
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("scaleTicksSettingsChange", [DATA]);
		}
	}
		
	function updateUI(data) {
		if (data && data.path) {
			var state = ChartBuilder.getChartEngine().get(data.path) || {};//console.log(state);
			IN_TRANSACTION++;
			$('[name="scaleTicksSize"]', ENV.container).val(
				"size" in state ? state.size : 6
			).triggerHandler("change");
			IN_TRANSACTION--;
		}
	}
	
	function initForm() {
		
		// size ----------------------------------------------------------------
		$('[name="scaleTicksSize"]', ENV.container)
		//.unbind(".scaleTicksEditor")
		.bind("change.scaleTicksEditor", function() {
			DATA.size = (/^\s*$/).test(this.value) ? "SKIP_THIS_PROPERTY" : $.intVal(this.value);
			commit();
		});
				
		$(ENV.container).unbind("initUI").bind("initUI", function(e, prefs) {
			if ( e.target == ENV.container ) {
				e.stopPropagation();
				DATA = {};
				var deeperPrefs = { path : prefs.path + ".tick" };
				IN_TRANSACTION++;
				updateUI(deeperPrefs);
				$(".line-editor"  , ENV.container).triggerHandler("initUI", [deeperPrefs]);
				$(".shadow-editor", ENV.container).triggerHandler("initUI", [deeperPrefs]);
				$(".bevel-editor" , ENV.container).triggerHandler("initUI", [deeperPrefs]);
				IN_TRANSACTION--;
				commit();
			}
		});
		
		IN_TRANSACTION = 0;
		$(ENV.container).trigger("ready");
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 3) {
			initForm();
		}
	}
	
	// Shadow Editor
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	// Line Editor
	ZC.embedEditor({
		editorID : "line",
		target   : $(".line-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	// Bevel Editor
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
})(jQuery);
</script>