<div class="row line-editor"></div>
<div class="row shadow-editor"></div>
<div class="row bevel-editor"></div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "scalesGuideEditor";
	
	function commit(data, props) {
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("scalesGuideEditorSettingsChange", [DATA]);
		}
	}
	
	function initForm() {
		$(ENV.container).unbind("initUI").bind("initUI", function(e, prefs) {
			if ( e.target == ENV.container ) {
				e.stopPropagation();
				DATA = {};
				IN_TRANSACTION++;
				$(".line-editor" , ENV.container).triggerHandler("initUI", [{ path : prefs.path + ".guide" }]);
				$(".shadow-editor" , ENV.container).triggerHandler("initUI", [{ path : prefs.path + ".guide" }]);
				$(".bevel-editor" , ENV.container).triggerHandler("initUI", [{ path : prefs.path + ".guide" }]);
				IN_TRANSACTION--;
				commit();
			}
		});
		
		IN_TRANSACTION = 0;
		$(ENV.container).trigger("ready");
	}
		
	var done = 0;
	function commonCallback() {
		if (++done == 3) {
			initForm();
		}
	}	
	
	ZC.embedEditor({
		editorID : "line",
		target   : $(".line-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC = null;
	
})(jQuery);
</script>