<div class="row">
	<div class="group-label">Text</div>
	<div class="control">
		<input type="text" name="scaleText" size="35" />
	</div>
</div>

<!-- Font -->
<div class="row text-editor"></div>

<!-- Background -->
<div class="row bg-editor"></div>

<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, console*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "scalesEditor";
	
	function commit(data, props) {
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("scalesTextSettingsChange", [DATA]);
		}
	}
	
	function initForm() {
		
		$('[name="scaleText"]', ENV.container).unbind("change").bind("change", function() {
			DATA.text = (/^\s*$/).test(this.value) ? "SKIP_THIS_PROPERTY" : this.value;
			commit();
		});
		
		IN_TRANSACTION = 0;
		
		$(ENV.container).trigger("ready");
	}
	
	function initUI(prefs) {
		var cfg = $.extend({
			axis : "x",
			path : "graphset[0].scale-x"
		}, prefs);
		
		IN_TRANSACTION++;
		$('[name="scaleText"]', ENV.container).val(
			ChartBuilder.getChartEngine().get("graphset[0].scale-" + cfg.axis + ".text") || ""
		).triggerHandler("change");
		IN_TRANSACTION--;
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 2) {
			initForm();
		}
	}
	
	// Text Editor
	ZC.embedEditor({
		editorID : "text",
		target   : $(".text-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	// Background Editor
	ZC.embedEditor({
		editorID : "background",
		target   : $(".bg-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	$(ENV.container).unbind("initUI").bind("initUI", function(e, prefs) {
		IN_TRANSACTION++;
		initUI(prefs);
		$(".text-editor", ENV.container).triggerHandler("initUI", [prefs]);
		$(".bg-editor"  , ENV.container).triggerHandler("initUI", [prefs]);
		IN_TRANSACTION--;
		commit();
	});
	
	ZC = null;
	
})(jQuery);
</script>