<div class="row">
	<div class="group-label">Format</div>
	<div class="control">
		<input type="text" name="scaleTextFormat" size="30" value="%v" />
	</div>
</div>
<div class="row">
	<div class="group-label">Max Labels</div>
	<div class="control">
		<input type="number" name="scaleTextMaxLabels" size="3" />
	</div>
</div>
<div class="row">
	<div class="group-label">Mirrored</div>
	<div class="control">
		<input type="checkbox" name="scaleTextMirrored" />
	</div>
</div>
<div class="row text-editor"></div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = { item : {} }, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "scalesAxisTextEditor";
	
	function commit(data, props) {
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("scalesAxisTextEditorSettingsChange", [DATA]);
		}
	}
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	// scaleTextFormat    - format
	// scaleTextMaxLabels - max-labels
	// scaleTextMirrored  - mirrored
	function initForm() {
		
		$$("scaleTextFormat").unbind("change").bind("change", function() {
			DATA.format = this.value || SKIP_THIS_PROPERTY;
			commit();
		});
		
		$$("scaleTextMaxLabels").unbind("change").bind("change", function() {
			DATA["max-labels"] = (/^\s*$/).test(this.value) ? SKIP_THIS_PROPERTY : $.intVal(this.value);
			commit();
		});
		
		$$("scaleTextMirrored").unbind("click").bind("click", function() {
			DATA.mirrored = this.checked ? true : SKIP_THIS_PROPERTY;
			commit();
		});
		
		$(ENV.container).unbind("initUI").bind("initUI", function(e, prefs) {
			if ( e.target == ENV.container ) {
				e.stopPropagation();
				DATA = { item: {} };
				IN_TRANSACTION++;
				updateUI(prefs);
				$(".text-editor"  , ENV.container).triggerHandler("initUI", [{ path : prefs.path + ".item" }]);
				IN_TRANSACTION--;
				commit();
			}
		});
		
		IN_TRANSACTION = 0;
		$(ENV.container).trigger("ready");
	}
	
	function updateUI(data) {
		if (data && data.path) {
			var state = ChartBuilder.getChartEngine().get(data.path) || {};//console.log(state);
			IN_TRANSACTION++;
			
			$$("scaleTextFormat").val(state.format || "%v").triggerHandler("change");
			$$("scaleTextMaxLabels").val(state["max-labels"] || "").triggerHandler("change");
			$$("scaleTextMirrored")[0].checked = !!state.mirrored;
			$$("scaleTextMirrored").triggerHandler("click");
			
			IN_TRANSACTION--;
		}
	}
	
	ZC.embedEditor({
		editorID : "text",
		target   : $(".text-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : function(data, props) {
			if (data && props) {
				$.extendByTemplate(data, DATA.item, props);
				commit();
			}
		},
		onLoad   : initForm
	});
	
	ZC = null;
	
})(jQuery);
</script>