<form onSubmit="return false" class="title">
	
	<div class="row">
		<div class="group-label">Visible</div>
		<div class="control"><input type="checkbox" name="titleVisible" /></div>
	</div>
	
	<div class="row">
		<div class="group-label">Text</div>
		<div class="control"><input type="text" name="titleText" size="40" /></div>
	</div>
	
	<div class="row">
		<div class="tabs-widget keep-state">
			<div class="tabs">
				<a class="tab" data-url="core/zingcharts/editors/reusable/box.html">Box</a>
				<a class="tab" data-url="core/zingcharts/editors/reusable/text.html">Text</a>
				<a class="tab" data-url="core/zingcharts/editors/reusable/background.html">BG</a>
				<a class="tab" data-url="core/zingcharts/editors/reusable/border.html">Border</a>
				<a class="tab shadow" data-url="core/zingcharts/editors/reusable/shadow.html">Shadow</a>
				<a class="tab bevel" data-url="core/zingcharts/editors/reusable/bevel.html">Bevel</a>
			</div>
			<div class="pannels"></div>
		</div>
	</div>
</form>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, console, ENV*/
(function() {
	
	var $form = $(">form", ENV.container).undelegate();
	var title = ChartBuilder.getChartEngine().get("graphset[0].title") || {};
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	function save() {
		
		title.text = $$("titleText").val();
		
		// Remove the title and exit if "titleVisible" is not checked 
		var on = $$("titleVisible")[0].checked;
		if (!on) {
			ChartBuilder.getChartEngine().unset("graphset[0].title");
			return;
		}
		
		if ($.isEmptyObject(title)) {
			ChartBuilder.getChartEngine().unset("graphset[0].title");
		}
		else {
			ChartBuilder.getChartEngine().set("graphset[0].title", title);
		}
	}
	
	// titleText
	$$("titleText").change(function() { save(title, {}); }).val(title.text || "");
	
	// titleVisible
	$$("titleVisible").click(function() { save(title, {}); }).attr(
		"checked", 
		!$.isEmptyObject(title)
	);
	
	function bindSharedEditor(eventType, props) {
		$(ENV.container).bind(eventType, function(e, DATA) {
			
			// make sure not to confuse other logic up the DOM tree 
			e.stopPropagation();
			
			// write the changes to the "title" object
			$.each(props, function(i, prop) {
				if (DATA.hasOwnProperty(prop)) {
					title[prop] = DATA[prop];
				}
				else {
					if (title.hasOwnProperty(prop)) {
						delete title[prop];
					}
				}
			});
			
			// and save!
			save( DATA, props );
		});
	}
	
	// Bind Shared Editors =====================================================
	bindSharedEditor("textSettingsChange", [
		"text-align",
		"font-size",
		"color",
		"font-family",
		"underline",
		"bold",
		"italic"
	]);
	bindSharedEditor("shadowSettingsChange", [
		"shadow-color",
		"shadow-alpha",
		"shadow-distance",
		"shadow-blur-x",
		"shadow-blur-y",
		"shadow"
	]);
	bindSharedEditor("borderSettingsChange", [
		"border-width", 
		"border-color"
	]);
	bindSharedEditor("backgroundSettingsChange", [
		"background-image",
		"background-repeat",
		"background-transparent",
		"background-position",
		"background-fit",
		"background-color",
		"background-color-2",
		"alpha",
		"fill-type",
		"fill-angle",
		"fill-offset-x",
		"fill-offset-y"
	]);
	bindSharedEditor("bevelSettingsChange", [
		"bevelToggle",
		"bevel-blur-x",
		"bevel-blur-y",
		"bevel-distance",
		"bevel-angle",
		"bevel"
	]);
	bindSharedEditor("boxSettingsChange", [
		"width",
		"height",
		"position",
		"margin-top",
		"margin-right",
		"margin-bottom",
		"margin-left"
	]);
	$(ENV.container).trigger("ready");
})();
</script>
