<form onSubmit="return false" class="tooltip">
	<div class="row">
		<div class="group-label">Visible</div>
		<div class="control">
			<input type="checkbox" name="tooltipsVisible" />
		</div>
	</div>
	<div class="row">
		<div class="group-label">Text</div>
		<div class="control">
			<input type="text" name="tooltipsText" size="40" value="%v" />
		</div>
	</div>
	<div class="row text-editor"></div>
	<div class="row shadow-editor shadow"></div>
	<div class="row bevel-editor bevel"></div>
</form>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV*/
(function($) {
	
	
	function initForm() {
			
		$('[name="tooltipsVisible"]', ENV.container).click(function() {
			ChartBuilder.getChartEngine().set("graphset[0].tooltip.visible", this.checked);
		});
		
		$('[name="tooltipsText"]', ENV.container).change(function() {
			ChartBuilder.getChartEngine().set("graphset[0].plot.tooltip-text", this.value);
		});
		
		function bindSharedEditor(eventType, props) {
			$(ENV.container).bind(eventType, function(e, DATA) {
				e.stopPropagation();
				var data = ChartBuilder.getChartEngine().get("graphset[0].tooltip") || {};
				$.each(props, function(i, prop) {
					if (DATA.hasOwnProperty(prop)) {
						$.JSONPath(data, prop, DATA[prop]);
					}
					else {
						$.JSONDelete(data, prop);
					}
				});
				
				var isEmpty = true;
				for (var x in data) {
					isEmpty = false;
					break;
				}
				
				if (isEmpty) {
					ChartBuilder.getChartEngine().unset("graphset[0].tooltip");
				}
				else {
					ChartBuilder.getChartEngine().set("graphset[0].tooltip", data);
				}
				
				data = null;
			});
		}
		
		// Bind Shared Editors =================================================
		
		
		bindSharedEditor("shadowSettingsChange", [
			"shadow-color",
			"shadow-alpha",
			"shadow-distance",
			"shadow-blur-x",
			"shadow-blur-y",
			"shadow"
		]);
		
		bindSharedEditor("bevelSettingsChange", [
			"bevelToggle",
			"bevel-blur-x",
			"bevel-blur-y",
			"bevel-distance",
			"bevel-angle",
			"bevel"
		]);
		
		bindSharedEditor("textSettingsChange", [
			"text-align",
			"font-size",
			"color",
			"font-family",
			"underline",
			"bold",
			"italic"
		]);
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 3) {
			initForm();
			$(ENV.container).trigger("ready");
		}
	}
	
	// Sub queries to load the reusable editors
	$.loadHTML(
		$(".text-editor", ENV.container), 
		"core/zingcharts/editors/reusable/text.html"
	).done(commonCallback);
	
	$.loadHTML(
		$(".shadow-editor", ENV.container), 
		"core/zingcharts/editors/reusable/shadow.html"
	).done(commonCallback);
	
	$.loadHTML(
		$(".bevel-editor", ENV.container), 
		"core/zingcharts/editors/reusable/bevel.html"
	).done(commonCallback);
	
})(jQuery);
</script>