<div class="row">
	<div class="group-label">Visible</div>
	<div class="control">
		<input type="checkbox" name="valueBoxVisible" />
	</div>
</div>
<div class="row">
	<div class="group-label">Type</div>
	<div class="control">
		<select name="valueBoxType">
			<option value="none">None</option>
			<option value="all">All</option>
			<option value="first">First</option>
			<option value="last">Last</option>
			<option value="max">Maximum</option>
			<option value="min">Minimum</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="group-label">Text</div>
	<div class="control">
		<input type="text" name="valueBoxText" size="35" value="%v" />
	</div>
</div>
<div class="row text-editor"></div>
<div class="row bg-editor"></div>
<div class="row border-editor"></div>
<div class="row shadow-editor"></div>
<div class="row bevel-editor"></div>
<script type="text/javascript">
/*
 "plot":{
            "value-box":{
                "type":"all",
                "text":"%v ggg"
            }
        }
 */
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "valueBoxEditor",
		PATH = "graphset[0].plot.value-box";
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	function commit(data, props) {
		
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		
		if ( !IN_TRANSACTION ) {
			var curData = ChartBuilder.getChartEngine().get(PATH);
			//if ( !ChartBuilder.getChartEngine().get("graphset[0].legend.visible") ) {
			//	ChartBuilder.getChartEngine().set("graphset[0].legend.visible", false);
			//}
			var newData = $.extend(true, curData, DATA);
			newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
			newData = $.JsonCleanupEmptyObjectProperies(newData);
			
			if ( !newData.visible || $.isEmptyObject(newData) ) {
				ChartBuilder.getChartEngine().unset( PATH );
			}
			else {
				ChartBuilder.getChartEngine().set( PATH, newData );
			}
			curData = newData = null;
		}
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 5) {
			//initForm();
			IN_TRANSACTION = 0;
			$(ENV.container).trigger("ready");
		}
	}
	
	// valueBoxType - type
	$$("valueBoxType").change(function() {
		DATA.type = $(this).val();
		commit();
	});
	
	// valueBoxText - text
	$$("valueBoxText").change(function() {
		DATA.text = (/^\s*$/).test(this.value) ? SKIP_THIS_PROPERTY : this.value;
		commit();
	});
	
	// valueBoxVisible
	$$("valueBoxVisible").click(function() {
		DATA.visible = this.checked;
		if ( this.checked ) {
			IN_TRANSACTION++;
			$$("valueBoxType").triggerHandler("change");
			$$("valueBoxText").triggerHandler("change");
			IN_TRANSACTION--;
		}
		commit();
	});
	
	ZC.embedEditor({
		editorID : "text",
		target   : $(".text-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "background",
		target   : $(".bg-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "border",
		target   : $(".border-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC = null;
	
})(jQuery);
</script>