<div class="row">
	<div class="group-label">Visible</div>
	<div class="control">
		<label>X <input type="checkbox" name="zoomScrollboxVisibleX" /></label>
		<label>Y <input type="checkbox" name="zoomScrollboxVisibleY" /></label>
	</div>
</div>
<div class="row bg-editor"></div>
<div class="row border-editor"></div>
<div class="row shadow-editor"></div>
<div class="row bevel-editor"></div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "zoomScrollboxEditor";
		
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	function commit(data, props) {
		
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		
		if ( !IN_TRANSACTION ) {
			// scroll-x
			var curData = ChartBuilder.getChartEngine().get("graphset[0].scroll-x");
			var newData = $.extend(true, curData, DATA);
			newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
			newData = $.JsonCleanupEmptyObjectProperies(newData);
			newData.visible = $$("zoomScrollboxVisibleX")[0].checked;
			if ( !newData.visible || $.isEmptyObject(newData) ) {
				ChartBuilder.getChartEngine().unset("graphset[0].scroll-x");
			}
			else {
				ChartBuilder.getChartEngine().set("graphset[0].scroll-x", newData );
			}
			
			// scroll-y
			curData = ChartBuilder.getChartEngine().get("graphset[0].scroll-y");
			newData = $.extend(true, curData, DATA);
			newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
			newData = $.JsonCleanupEmptyObjectProperies(newData);
			newData.visible = $$("zoomScrollboxVisibleY")[0].checked;
			if ( !newData.visible || $.isEmptyObject(newData) ) {
				ChartBuilder.getChartEngine().unset("graphset[0].scroll-y");
			}
			else {
				ChartBuilder.getChartEngine().set("graphset[0].scroll-y", newData );
			}
			
			curData = newData = null;
		}
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 4) {
			IN_TRANSACTION = 0;
			$(ENV.container).trigger("ready");
		}
	}
	
	$$("zoomScrollboxVisibleX").click(function() {
		commit();
	});
	
	$$("zoomScrollboxVisibleY").click(function() {
		commit();
	});
	
	
	ZC.embedEditor({
		editorID : "background",
		target   : $(".bg-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "border",
		target   : $(".border-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC = null;
	
})(jQuery);
</script>