<div class="row">
	<div class="group-label">Visible</div>
	<div class="control">
		<label>X <input type="checkbox" name="zoomZoomboxVisibleX" /></label>
		<label>Y <input type="checkbox" name="zoomZoomboxVisibleY" /></label>
	</div>
</div>
<div class="row text-editor"></div>
<div class="row bg-editor"></div>
<div class="row border-editor"></div>
<div class="row shadow-editor"></div>
<div class="row bevel-editor"></div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		ZC = ChartBuilder.getChartEngine("Zingcharts"),
		EVENTS_NAMESPACE = "zoomZoomboxEditor",
		PATH = "graphset[0].zoom";
		
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	function commit(data, props) {
		
		if (data && props) {
			$.extendByTemplate(data, DATA, props);
		}
		
		if ( !IN_TRANSACTION ) {
			var curData = ChartBuilder.getChartEngine().get(PATH);
			var newData = $.extend(true, curData, DATA);
			newData = $.JsonBlackList( newData, [SKIP_THIS_PROPERTY] );
			newData = $.JsonCleanupEmptyObjectProperies(newData);
			
			if ( $.isEmptyObject(newData) ) {
				ChartBuilder.getChartEngine().unset( PATH );
			}
			else {
				ChartBuilder.getChartEngine().set( PATH, newData );
			}
			curData = newData = null;
		}
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 5) {
			IN_TRANSACTION = 0;
			$(ENV.container).trigger("ready");
		}
	}
	
	$$("zoomZoomboxVisibleX").click(function() {
		if (this.checked) {
			ChartBuilder.getChartEngine().set("graphset[0].scale-x.zooming", true);
		}
		else {
			ChartBuilder.getChartEngine().unset("graphset[0].scale-x.zooming");
		}
	});
	
	$$("zoomZoomboxVisibleY").click(function() {
		if (this.checked) {
			ChartBuilder.getChartEngine().set("graphset[0].scale-y.zooming", true);
		}
		else {
			ChartBuilder.getChartEngine().unset("graphset[0].scale-y.zooming");
		}
	});
	
	ZC.embedEditor({
		editorID : "text",
		target   : $(".text-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "background",
		target   : $(".bg-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "border",
		target   : $(".border-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "shadow",
		target   : $(".shadow-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC.embedEditor({
		editorID : "bevel",
		target   : $(".bevel-editor", ENV.container),
		eventNS  : EVENTS_NAMESPACE,
		onChange : commit,
		onLoad   : commonCallback
	});
	
	ZC = null;
	
})(jQuery);
</script>