<div style="position: absolute; top: 2px; bottom: 0; width: 100%; z-index: 10">
	<div style="height: 30px; padding: 4px; white-space: nowrap; min-width: 300px;">
		<div class="radio-group">
			<a data-value="error"   style="min-width: 100px"><img src="css/error.png" /> Errors</a>
			<a data-value="warning" style="min-width: 100px"><img src="css/warning.png" /> Warnings</a>
			<a data-value="message" style="min-width: 100px"><img src="css/info.png" /> Messages</a>
			<a data-value=""        style="min-width: 100px" class="on">All</a>
		</div>
		<span class="separataor-v"></span>
		<a class="clear-log button" style="padding: 2px 10px">Clear</a>
		<span class="separataor-v"></span>
		<label>Log Limit: <input type="number" size="3" min="1" max="500" name="log-limit" /> lines</label>
	</div>
	<div id="log-view" class="code"></div>
</div>
<style type="text/css">
#log-view {
	position: absolute; 
	top: 30px; 
	bottom: 1px; 
	right : 1px; 
	left : 1px; 
	border: 1px solid #888; 
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
	overflow: auto;
	z-index: 10;
	padding: 1px;
	background: #EEE;
	line-height: 15px;
	box-sizing: border-box;
	font-size: 12px;
}
#log-view > div {
	padding: 0px 20px;
	border-bottom: 1px dotted #999;
	background: url('css/info.png') 1px 1px no-repeat;
	line-height: 18px;
}
#log-view > div.warning {
	color: green;
	background: url('css/warning.png') 1px 1px no-repeat;
}
#log-view > div.error {
	color: red;
	background: url('css/error.png') 1px 1px no-repeat;
}
#log-view > div:hover {
	background-color: #CCC; 
}

#log-view > div .right {
	float: right;
	color: #666;
}
</style>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV*/
(function($) {
	
	var logView = $("#log-view", ENV.container), logType;
	
	function formatTime(n) {
		if (n < 1000) {
			return n + " miliseconds";
		}
		
		if (n < 60 * 1000) {
			return Math.round(n/100) / 10 + " seconds";
		}
		
		if (n < 60 * 60 * 1000) {
			return Math.round(n/(60 * 100))/ 10 + " minutes";
		}
		
		return Math.round(n/(60 * 60 * 100)) / 10 + " hours";
	}
	
	function appendMessage(msg) {
		return $('<div data-msgid="' + msg.id + '" class="selectable" />')
		.addClass(msg.type)
		.html(msg.message)
		.prepend('<span class="right" title="' + formatTime(msg.time) + ' after the start">' + msg.time + '</span>')
		.appendTo(logView);
	}
	
	function filterLog(type) {
		logView.empty();
		$.each(ChartBuilder.Logger.getLog(), function(i, msg) {
			if (!type || msg.type == type) {
				appendMessage(msg);
			}
		});
	}
	
	// Event bindings ------------------------------------------------------------
	
	$('[name="log-limit"]', ENV.container)
	.unbind("change.logger")
	.bind("change.logger", function() {
		ChartBuilder.Logger.setLogLimit(this.value);
	}).val(ChartBuilder.Logger.getLogLimit());
	
	
	ChartBuilder.Logger.addEventListener("log.logger", function(e, data) {
		if (!logType || logType == data.type) {
			var div = appendMessage(data);
			div[0].scrollIntoView();
		}
	});
	
	ChartBuilder.Logger.addEventListener("clearLog.logger", function() {
		logView.empty();
	});
	
	ChartBuilder.Logger.addEventListener("spliceLog.logger", function(e) {
		$.each(e.data.itemsIDs, function(i, id) {
			$('[data-msgid="' + id + '"]', logView).remove();
		});
	});
	
	$(ENV.container).unbind(".logger").bind("hide.logger", function() {
		ChartBuilder.Logger.removeEventListener(".logger");
	});
	
	$(".radio-group", ENV.container).unbind("change.logger").bind("change.logger", function() {
		logType = this.value;
		filterLog(logType);
	});
	
	$(".clear-log", ENV.container).unbind("click.logger").bind("click.logger", function() {
		ChartBuilder.Logger.clearLog(logType);
	});
	
	
	$.each(ChartBuilder.Logger.getLog(), function(i, msg) {
		appendMessage(msg);//[0].scrollIntoView();
	});
	
	$(ENV.container).one("show", function() {
		logView[0].scrollTop = logView[0].scrollHeight;
	}).trigger("ready");
	
})(jQuery);
</script>