<div style="position: absolute; top: 2px; bottom: 0; left: 2px; right :2px; z-index: 10; overflow: auto; font-size: 12px;">
	<div style="display: inline-block; vertical-align: top; margin: 4px 10px; min-width: 100px;">
		<b>Classes</b>
		(<span class="control class-count"></span>)
		<ul class="control class-list selectable" style="margin:0; padding: 0; list-style: none;"></ul>
	</div>
	<div style="display: inline-block; vertical-align: top; margin: 4px 10px; min-width: 100px;">
		<b>Instances</b>
		(<span class="control instance-count"></span>)
		<ul class="control instance-list selectable" style="margin:0; padding: 0; list-style: none;"></ul>
	</div>
	<div style="display: inline-block; vertical-align: top; margin: 4px 10px; min-width: 100px;">
		<b>Event Listeners</b>
		(<span class="control handlers-count"></span>)
		<ul class="control handlers-list selectable" style="margin:0; padding: 0; list-style: none;"></ul>
	</div>
	<div style="display: inline-block; vertical-align: top; margin: 4px 10px; min-width: 100px;">
		<b>jQuery Event Listeners</b>
		(<span class="control jquery-handlers-count"></span>)
		<label><input type="checkbox" class="show-handlers" /> Show Handlers</label>
		<ul class="control jquery-handlers-list selectable" style="margin:0; padding: 0; list-style: none;"></ul>
	</div>
</div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV*/
(function($) {
	
	var HIDDEN = false;
	var TIMER;
	
	function listClasses() {
		var classes = ChartBuilder.getDeclaredClasses(), html = '';
		$.each(classes, function(i, name) {
			html += '<li>' + name + '</li>';
		});
		$(".class-count", ENV.container).html(classes.length);
		$(".class-list", ENV.container).html(html);
		classes = html = null;
	}
	
	function listInstances() {
		var instances = ChartBuilder.getInstances(), l = 0, html = '';
		$.each(instances, function(name, count) {
			html += '<li>' + name + ": " + count + '</li>';
			l += count;
		});
		$(".instance-count", ENV.container).html(l);
		$(".instance-list", ENV.container).html(html);
		instances = l = html = null;
	}
	
	function listListeners() {
		var observers = [], html = '', l = 0, listeners = {};
		$(window).trigger("COLLECT_EVENT_LISTENERS", [observers]);
		$.each(observers, function(i, observer) {
			$.each(observer.listeners, function(type, handlers) {
				if (type in listeners) {
					listeners[type] += handlers.length;
				}
				else {
					listeners[type] = handlers.length;
				}
				l += handlers.length;
			});
		});
		
		$.each(listeners, function(type, count) {
			html += '<li>' + type + ": " + count + '</li>';
		});
		
		$(".handlers-count", ENV.container).html(l);
		$(".handlers-list", ENV.container).html(html);
		observers = html = l = listeners = null;
	}
	
	function listJQueryListeners() {
		var jQueryHandlers = $.getEventBindings(), eventTypes = {}, html = '', l = 0;
		$.each(jQueryHandlers, function(i, events) {
			$.each(events, function(type, handlers) {
				$.each(handlers, function(j, h) {
					var _type = h.namespace ? type + '<span style="color:green">.' + h.namespace + '</span>' : type;
					
					if (h.selector) {
						_type += ' <span style="color:#55C">(' + h.selector + ')</span>';
					}
					if (_type in eventTypes) {
						eventTypes[_type].count++;
						eventTypes[_type].handlers.push($.elipsis(String(h.handler) || h.handler.name || "", 60));
					}
					else {
						eventTypes[_type] = { count : 1, handlers : [] };
					}
					l++;
				});
			});
		});
		
		var showHandlers = $('.show-handlers', ENV.container)[0].checked;
		$.each(eventTypes, function(type, data) {
			html += '<li>' + type + ": " + data.count;
			if (showHandlers) {
				html += '<ul class="code"><li>' + data.handlers.join('</li><li>') + '</li></ul>';
			}
			html += '</li>';
		});
		$(".jquery-handlers-count", ENV.container).html(l);
		$(".jquery-handlers-list", ENV.container).html(html);
		showHandlers = jQueryHandlers = eventTypes = html = l = null;
	}
	
	function refreshStats( force ) {
		if (!HIDDEN) {
			listClasses();
			listInstances();
			listListeners();
			listJQueryListeners();
			
			if ( !force ) {
				TIMER = window.setTimeout(refreshStats, 2000, false);
			}
		}
	}
	
	ChartBuilder.getChartEngine().addEventListener("chartComplete.stats", function(e, dataObj) {
		if (!HIDDEN) {
			refreshStats(true);
		}
	});
	
	$('.show-handlers', ENV.container).unbind("click").click(function() { 
		refreshStats(true); 
	});
	
	$(ENV.container)
	.off(".stats")
	.on({
		"hide.stats" : function() { HIDDEN = true;  },
		"show.stats" : function() { HIDDEN = false; }
	});
	
	refreshStats();
	
	$(ENV.container).trigger("ready");
})(jQuery);
</script>