@charset "utf-8";

/* This is needed for Zingcharts/HTML5*/
.g { margin:5px;float:left; }

body {
	cursor: default;
	overflow: hidden;
	background: #CCC;
	
}

body, input, select, td, th {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
}

#helper-frame {
	position: fixed;
	top: -100px;
	left: -100px;
	width: 10px;
	bottom: 10px;
	z-index: 101;
	display: none;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	display: none;
	cursor: default !important;
}

#page {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width : 400px;
	min-height: 600px;
}

#header {
	height: 79px;
	background: #444 url("http://www.applicationcraft.com/sites/all/themes/applicationcraft2/images/ac-logo.png") 20px center no-repeat;
	border-bottom: 1px solid #222;
}

#middle {
	bottom: 21px;
    left: 0;
    position: absolute;
    right: 0;
    top: 80px;
	background: #AAA;
}

#sidebar {
	bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 350px;
    box-shadow: 1px 0px 3px -2px #000;
	-webkit-box-shadow: 1px 0px 4px -2px #000;
	background: #CCC;
	overflow: auto;
	border-style: solid;
	border-color: #DDD #555 #666 #DDD;
	border-width: 0px 1px 0px 0px;
}

#engine-container {
	padding: 4px 0;
}
	
#main {
	bottom: 0;
    left: 357px;
    position: absolute;
    right: 0;
    top: 0;
}

#preview {
	bottom: 257px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	background: #fff url(arena_bg.gif);
	box-shadow: 0 0 6px -1px #000000;
	border: 1px solid #555555;
	overflow: auto !important;
}

#bottom-pane {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	height: 250px;
	border: 1px solid #555;
    box-shadow: -2px -1px 6px -3px #000000;
	background: #CCC;
}

#footer {
	background: rgba(0, 0, 0, 0.03);
    bottom: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) inset;
    height: 20px;
    left: 0;
    line-height: 17px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-shadow: 1px 1px 0 #DDD;
	border-top: 1px solid #777;
}

#separator-x {
	z-index: 1;
	bottom: 251px;
    cursor: row-resize;
    height: 6px;
    left: 0;
    position: absolute;
    right: 0;
}
#separator-y {
	z-index: 1;
    bottom: 0;
    left: 351px;
    position: absolute;
    top: 0;
    width: 6px;
	cursor: col-resize;
}
#chart {
	margin: 10px;
	overflow: visible !important;
	float:left;
}
#separator-x.active, 
#separator-y.active {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	z-index: 101;
}


/* Form Elements ------------------------------------------------------------ */
input, select, textarea, button {
	box-shadow: 0 0 1px #FFF;
	-webkit-border-radius: 2px;
	margin: 0;
	line-height: 16px;
	min-height: 16px;
}

input[type="text"], select {
	border: 1px solid #889;
	padding: 1px;
	border-radius: 2px;
}

input[type="checkbox"] {
	margin-right: 4px;
	vertical-align: inherit;
	min-height: inherit;
	box-shadow: none;
	outline: none;
	line-height: normal;
}

input[type="number"] {
	padding: 3px;
	width: 50px;
}

input[type="file"] {
	padding: 0;
	vertical-align: baseline;
	box-shadow: none;
}

select {
	height: 20px;
	vertical-align: middle;
}

select option {
	text-indent: 3px;
}

input[type="text"]:focus, select:focus {
	border-color    : #666;
	box-shadow: 0 0 2px 0px rgba(200, 100, 0, 1) inset, 0 0 0 1px rgba(255, 255, 255, 0.4);
	outline: none;
}

#engine-container select {
	font-family: Arial, sans-serif;
	font-size: 14px;
	height: auto;
	min-width: 200px;
}

/* Acordeon ----------------------------------------------------------------- */
#editors dl {
	margin: 0;
	padding: 0;
	border-top: 1px solid #777;
}

#editors dd {
	margin: 0;
	padding: 0;
	
}

#editors dd.collapsed {
	border-bottom: none;
	height : 0; 
	overflow: hidden;
}

#editors dd.expanded {
	border-bottom: 1px solid #777;
	/*overflow: visible;
	height : auto; */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#editors dd:last-child {
	border-bottom: none;
}

#editors dt {
	background: #BBB url(arrow_right.png) 4px 50% no-repeat;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #888;
	padding: 3px 6px 3px 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 17px;
	text-shadow: 1px 1px 0 #DDD;
	margin: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1) inset;
}

#editors dt:hover, #editors dt.expanded {
	text-shadow: 1px 1px 0 #BBB;
	border-top-color: #BBB;
	border-bottom-color: #777;
	background-color: #999;
}

#editors dt.expanded {
	background-image: url(arrow_down.png);
}

#editors dt.loading {
	background-image: url(progress_10x10.gif);
	background-position: 2px 50%;
}

/* row ---------------------------------------------------------------------- */
.row {
	border-bottom: 1px solid #999;
	border-top   : 1px solid #EEE;
	padding      : 2px 0;
	white-space  : nowrap;
	margin       : 0 2px;
	line-height  : 0;
}

.row.no-border {
	border: none;
}

.row:first-of-type {
	border-top: none;
}

.row:last-of-type, #chart-types.row {
	border-bottom: none;
}

.row .row {
	margin : 0;
}

.row .group-label {
	display    : inline-block;
	line-height: 20px;
	height     : 20px;
	width      : 85px;
	font-weight: bold;
	margin-left: 4px;
	vertical-align: middle;
}

.row .control {
	display    : inline-block;
	line-height: 0;
	vertical-align: middle;
}

.label-text {
	display       : inline-block;
	line-height   : 20px;
	overflow      : hidden;
	width         : 50px;
	vertical-align: middle;
}

.row label {
	padding-right : 4px;
	display       : inline-block;
	line-height   : 14px;
	height        : 20px;
	vertical-align: middle;
}

.row .num-editor {
	line-height: inherit;
	height: 20px;
}

#source {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    background: transparent;
    border: none;
    box-shadow: none;
	margin: 0;
	resize: none;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

/* Tabs --------------------------------------------------------------------- */
.tabs-widget {

}
 
.tabs-widget .tabs {
	border-bottom: 1px solid #777;
	padding: 2px 2px 0 2px;
	line-height: 14px;
	/*background: #BBB;*/
	box-shadow: 0 -20px 20px -15px #999 inset;
	-webkit-box-shadow: 0px -15px 30px -11px #999 inset;
	white-space: nowrap;
}

.tabs-widget .tab {
	border-style: solid;
	border-color: transparent;
	border-width: 1px 1px 0px 1px;
	padding : 1px 12px 3px 12px;
	display: inline-block;
	position: relative;
	top: 1px;
	color: #222;
	text-shadow: 1px 1px 0 #CCC;
}

.tabs-widget .tab.active {
	background: #CCC;
	border-radius: 3px 3px 0 0;
	border-color: #777;
	color: #000;
	box-shadow: 0 8px 10px -5px #FFFFFF inset;
	text-shadow: none;
	padding: 2px 12px 3px;
	margin-top: -1px;
}

.tabs-widget .tab:focus,
.tabs-widget .tab:active {
	outline: none;
}

.tabs-widget .tab.loading {
	background: url(progress_10x10.gif) 0px 50% no-repeat;
}

.tabs-widget .pannels {
	position: relative;
}

.tabs-widget .pannel {
	padding: 2px 0;
	vertical-align: top;
}

.tabs-widget .tab.disabled {
	color: #666 !important;
}

#bottom-pane .tabs-widget {
	height: 100%;
}

#bottom-pane .pannels {
	top: 20px;
	bottom: 0;
	width: 100%;
	position: absolute !important;
}

#bottom-pane .tabs-widget .pannel {
	position: absolute !important;
	top: 2px !important;
	bottom: 0;
	width: 100% !important;
	overflow:auto !important;
}

.row .tabs-widget {
	margin-top: -2px;
}



.hidden {
	display: none;
}

/* Color inputs ------------------------------------------------------------- */
.color-input {
	display: inline-block;
	position: relative;
	padding-right: 22px;
	line-height: 22px !important;
	/*vertical-align: middle;*/
}

.color-input .color-button {
	position: absolute;
	width  : 20px;
	height : 20px;
	right: 0;
	top: 50%;
	margin-top: -10px;
	background: url(color_btn.png) center center no-repeat;
}

.disabled .color-input .color-button {
	opacity: 0.5;
}

.color-input input {
    height: 16px;
    line-height: 16px !important;
    width: 48px;
	vertical-align: baseline;
}

.colorpicker {
	z-index: 1000;
}
.colorpicker_submit {
	left : auto !important;
	right: 12px !important;
	width: 55px !important;
}

/* range-widget ------------------------------------------------------------- */
.range-widget {
	width: 200px;
	position: relative;
	height: 30px;
	margin-top: 1px;
}

.range-widget:focus {
	outline: none;
}

.range-widget .range-path {
	border-radius: 3px;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.5) inset, -1px -1px 2px 0 rgba(255, 255, 255, 0.4) inset, 0 0 1px 1px #DDD;
    height: 3px;
    background: #BBB;
    position: relative;
    top: 21px;
    border: 1px solid #666;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.range-widget:focus .range-path {
	background-color: rgba(255, 127, 0, 0.4);
}

.disabled .range-path {
	opacity: 0.5;
}

.range-widget .range-button {
	width: 15px;
	height: 20px;
	background: url(sliderbtn.png) 0 0 no-repeat;
	position: absolute;
    top: 14px;
	display: block;
	cursor: default !important;
	z-index:2;
}
.range-widget:hover .range-button {
	background-position: 0 -20px;
}
.disabled .range-widget:hover .range-button,
.range-widget.disabled:hover .range-button {
	background-position: 0 0;
}
.range-widget .range-button.active {
	background-position: 0 -40px;
}

.disabled .range-button {
	background-position: 0 -60px !important;
}

.range-widget .range-min {
	position: absolute;
	top: 1px;
	left: 5px;
	line-height: 13px;
}
.range-widget .range-max {
	position: absolute;
	top: 1px;
	right: 5px;
	line-height: 13px;
}
.range-widget .range-val {
	position: absolute;
	top: 1px;
	right: 0;
	left: 0;
	text-align: center;
	line-height: 15px;
}
.range-widget .range-val span {
	background: #888;
	color: #FFF;
	padding: 0px 4px;
	border-radius: 3px;
	display: inline-block;
	min-width: 2em;
}
.disabled .range-val {
	opacity: 0.5;
}
.disabled .range-val span {
	color: #000;
}

/* toggle-button ------------------------------------------------------------ */
.toggle-button {
	min-width: 20px;
	height: 20px;
	padding: 0;
	text-align: center;
	/*vertical-align: middle;*/
	margin: 0 1px;
	background: transparent;
	border: 1px solid transparent;
	box-shadow:none;
	border-radius: 3px;
}

.toggle-button:hover {
	border-color: #999;
	background: #EEE;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2), 1px 1px 2px 1px rgba(255, 255, 255, 0.6) inset;
}

.toggle-button.on, .toggle-button.on:hover {
	background: #BBB;
	box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4) inset;
	border-color: #666;
}

/* JSON highlight ----------------------------------------------------------- */
.code {
	font-family: monospace;
	font-size: 12px;
	white-space: pre;
	overflow: auto;
	color: #003;
}
.code .string     { color: green; }
.code .number     { color: #C00;  }
.code .boolean    { color: #00C; font-weight: bold;  }
.code .json-label { color: #366; font-style: italic; }

/* .radio-group ------------------------------------------------------------- */
.radio-group {
	border: 1px solid #666;
	background: #666;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	/*font-size: 11px;*/
	box-shadow: 0 0 1px #FFF;
	white-space: nowrap;
}
.radio-group a {
	display: block;
	float: left;
	white-space: nowrap;
	line-height: 20px;
	text-align: center;
	box-shadow: 0 0 1px #FFF inset;
	text-shadow: 1px 1px 0 #fff;
	background: #DDD;
	box-shadow: 0 -8px 0px 1px #CCC inset, 0 0 0 1px #FFF inset;
	border-left: 1px solid #666;
}
.radio-group a:hover {
	background: #EEE;
	box-shadow: 0 -8px 0px 1px #DDD inset, 0 0 0 1px #FFF inset;
}
.radio-group a.on, .radio-group a.on:hover {
	background: #BBB;
	box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.2) inset, 0px 0px 3px -1px rgba(0, 0, 0, 0.9) inset;
	text-shadow: 0px 0px 7px white;
	color: #000;
	padding: 1px 0 0 1px;
	font-weight: bold;
	height: 19px;
}
.radio-group a.first, .radio-group a.first:hover {
	border-radius: 2px 0 0 2px;
	border-left: none;
}
.radio-group a.last, .radio-group a.last:hover {
	border-radius: 0 2px 2px 0;
}

.radio-group a img {
	vertical-align: text-bottom;
	border: none;
	margin-top: -3px;
	height: 16px;
	position: relative;
	top: 1px;
}

a.button {
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	padding-left: 4px;
	padding-right: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	box-shadow: 0 -8px 0px 1px #AAA inset, 0 0 0 1px #FFF inset;
	
	-moz-user-select: none;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 -8px 0 1px rgba(0, 0, 0, 0.06) inset, 0 0 0 1px rgba(255, 255, 255, 0.6) inset, 0 0 1px #FFFFFF;
	display: inline-block;
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	vertical-align: middle;
}

a.button img {
	vertical-align: middle;
	border: none;
	padding: 0px 0px 2px;
	margin-top: -3px;
}

a.button:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(0, 0, 0, 0.7);
	box-shadow: 0 -8px 0 1px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(255, 255, 255, 0.9) inset, 0 0 1px #FFFFFF;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
}
a.button:active {
	box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.2) inset, 0px 0px 3px -1px rgba(0, 0, 0, 0.9) inset;
	background: #BBB;
	line-height: 18px;
	border-color: #333;
	padding-left: 6px;
	padding-right: 4px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

a.button.disabled {
	color : #999 !important;
	padding-left: 4px !important;
	border-color:transparent !important;
	background: transparent !important;
	box-shadow:none !important;
	line-height:16px !important;
}

a.button.disabled:hover,
a.button.disabled:active {
}

a.button.disabled img {
	opacity: 0.5;
}

.separataor-v {
	display: inline-block;
	height : 1.4em;
	line-height : 1.4em;
	width: 0;
	vertical-align: middle;
	margin: auto 4px;
	border-left: 1px solid #AAA;
	border-right: 1px solid #EEE;
}

.zc-abs {
	position: absolute;	
}
.zc-rel {
	position: relative;	
}

.statusbar-slot {
	display: inline-block;
	height : 1.3em;
	line-height : 1.3em;
	vertical-align: middle;
	padding: 0 8px;
	border-left: 1px solid #DDD;
	border-right: 1px solid #999;
}

.statusbar-slot.first {
	border-left: none;
}

.statusbar-slot.last {
	border-right: none;
}



/* Disabled states ---------------------------------------------------------- */
.disabled, .disabled * {
	color: #666;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
	outline: none;
	cursor: default;
	   -moz-user-focus: ignore;
	-webkit-user-focus: ignore;
	        user-focus: ignore;
       -moz-user-input: disabled;
	-webkit-user-input: disabled;
	        user-input: disabled;
	   -moz-user-select: none;
	-webkit-user-select: none;
	        user-select: none;
}

input.disabled, select.disabled {
	background: #DDD;
	border-color: #AAA;
}

textarea, pre, code, .code { 
	-moz-tab-size:4 !important; 
	-o-tab-size:4 !important; 
	-webkit-tab-size:4 !important; 
	tab-size:4 !important; 
}