<div class="row background-editor">
	<div class="group-label">Background</div>
	<div class="control">
		<select name="bgType">
			<option value="default">Default</option>
			<option value="solid">Solid</option>
			<option value="gradient">Gradient</option>
			<option value="image">Image</option>
		</select>
	</div>
	
	<!-- BG Color(s) -->
	<div class="control-extra bg-colors no-border">
		<div class="row no-border">
			<div class="group-label">BG Color</div>
			<div class="control">
				<label><span>First:  </span><input type="color" name="bgColor1" size="3" /></label>
				<label><span>Second: </span><input type="color" name="bgColor2" size="3" /></label>
			</div>
		</div>
	</div>
	
	<!-- Alpha -->
	<div class="row control-extra bg-alpha no-border">
		<div class="group-label">Opacity</div>
		<div class="control">
			<input type="range" name="bgOpacity" min="0" max="1" step="0.01" value="1"  />
		</div>
	</div>
	
	<!-- Fill Type -->
	<div class="control-extra bg-fill-type no-border">
		<div class="row no-border">
			<div class="group-label">Fill Type</div>
			<div class="control">
				<select name="bgFillType">
					<option value="default">Default</option>
					<option value="linear">Linear</option>
					<option value="radial">Radial</option>
				</select>
			</div>
		</div>
		<div class="row no-border bg-fill-angle">
			<div class="group-label">Fill Angle</div>
			<div class="control">
				<input type="number" name="bgFillAngle" size="3" min="0" max="360" value="90" step="1" />
				<span style="font-size: 20px">&deg;</span>
			</div>
		</div>
		
		<div class="row no-border bg-fill-offsets">
			<div class="group-label">Fill Offsets</div>
			<div class="control">
				<label>X:       <input type="number" name="bgFillOffsetX" size="3" min="-1000" max="1000" /></label>
				<label>&nbsp;Y: <input type="number" name="bgFillOffsetY" size="3" min="-1000" max="1000" /></label>
			</div>
		</div>
	</div>
		
	<!-- Image -->
	<div class="control-extra bg-image no-border">
		<div class="row no-border">
			<div class="group-label">BG Image</div>
			<div class="control">
				<select name="bgImage">
					<option value=""></option>
					<option value="images/img1.jpg">img1.jpg</option>
					<option value="images/img2.jpg">img2.jpg</option>
					<option value="images/img3.jpg">img3.jpg</option>
				</select>
			</div>
		</div>
		<div class="row no-border">
			<div class="group-label">Position</div>
			<div class="control">
				<label>X: <input type="number" name="bgImageX" size="3" min="0" value="0" /></label>
				<label>Y: <input type="number" name="bgImageY" size="3" min="0" value="0" /></label>
			</div>
		</div>
		<div class="row no-border">
			<div class="group-label">Repeat</div>
			<div class="control"><input type="checkbox" name="bgImageRepeat" /></div>
		</div>
		<div class="row no-border">
			<div class="group-label">Transparent</div>
			<div class="control"><input type="checkbox" name="bgImageTransparent" /></div>
		</div>
		<div class="row no-border">
			<div class="group-label">Fit</div>
			<div class="control">
				<select name="bgImageFit">
					<option value="">None</option>
					<option value="x">X</option>
					<option value="y">Y</option>
					<option value="xy">XY</option>
				</select>
			</div>
		</div>
	</div>
		
</div>
<script type="text/javascript">
/*global window, jQuery, zingchart, Class, $, ChartBuilder, console, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	// This file could be loaded several times and re-used to edit 
	// different backgrounds. This means that there can be 2 or more pannels
	// opened and displaying this html, but using it for different purposes.
	// Thus it is VERY IMPORTANT that every selector below runs within the
	// "ENV.container" context.
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	$('.background-editor .control-extra', ENV.container).hide();
	
	
	
	// =========================================================================
	var DATA = {}, IN_TRANSACTION = 1;
	
	function commit() {
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("backgroundSettingsChange", [DATA]);
		}
	}
	
	function unsetImageBaground() {
		DATA["background-image"] = SKIP_THIS_PROPERTY;
		DATA["background-repeat"] = SKIP_THIS_PROPERTY;
		DATA["background-transparent"] = SKIP_THIS_PROPERTY;
		DATA["background-position"] = SKIP_THIS_PROPERTY;
		DATA["background-fit"] = SKIP_THIS_PROPERTY;
		DATA.alpha = SKIP_THIS_PROPERTY;
		commit();
	}
	
	function setImageBaground() {
		var url = $$("bgImage").val();
		if (url) {
			var img = new Image();
			img.onload = function() {
					
				// bgImage
				DATA["background-image"] = this.src;
				
				// bgImageRepeat
				DATA["background-repeat"] = $$("bgImageRepeat")[0].checked;
				
				// bgImageTransparent
				DATA["background-transparent"] = $$("bgImageTransparent")[0].checked;
				
				// bgImageX/Y
				DATA["background-position"] = [
					$.intVal($$("bgImageX").val()),
					$.intVal($$("bgImageY").val())
				].join(" ");
									
				// bgImageFit
				var fit = $$("bgImageFit").val();
				DATA["background-fit"] = fit == "default" ? SKIP_THIS_PROPERTY : fit;
				
				commit();
			};
			img.src = url;
		}
		else {
			unsetImageBaground();
		}		
	}
	
	function setSolidBackground() {
		var c = $$("bgColor1").val();
		if (!!c) {
			DATA["background-color"] = "#" + c;
			DATA["background-color-2"] = "#" + c;
			DATA.alpha = $.floatVal($$("bgOpacity").val());
		}
		commit();
	}
	
	function unsetSolidBackground() {
		DATA["background-color"] = SKIP_THIS_PROPERTY;
		DATA["background-color-2"] = SKIP_THIS_PROPERTY;
		DATA.alpha = SKIP_THIS_PROPERTY;
		commit();
	}
	
	function setGradientBackground() {
		
		// Colors
		var c1 = $$("bgColor1").val(), c2 = $$("bgColor2").val();
		if (!!c1) {
			DATA["background-color"] = "#" + c1;
			DATA["background-color-2"] = "#" + c1;
		}
		if (!!c2) {
			DATA["background-color-2"] = "#" + c2;
		}
		
		// bgFillType
		var fillType = $$("bgFillType").val();
		DATA["fill-type"] = fillType == "default" ? SKIP_THIS_PROPERTY : fillType;
		
		// bgFillAngle
		DATA["fill-angle"] = $.intVal($$("bgFillAngle").val());
		
		// bgOpacity
		DATA.alpha = $.floatVal($$("bgOpacity").val());
		
		// bgFillOffsetX
		DATA["fill-offset-x"] = $.intVal($$("bgFillOffsetX").val());
		
		// bgFillOffsetY
		DATA["fill-offset-y"] = $.intVal($$("bgFillOffsetY").val());
		
		commit();
	}
	
	function unsetGradientBackground() {
		DATA["background-color"] = SKIP_THIS_PROPERTY;
		DATA["background-color-2"] = SKIP_THIS_PROPERTY;
		DATA["fill-type"] = SKIP_THIS_PROPERTY;
		DATA["fill-angle"] = SKIP_THIS_PROPERTY;
		DATA["fill-offset-x"] = SKIP_THIS_PROPERTY;
		DATA["fill-offset-y"] = SKIP_THIS_PROPERTY;
		DATA.alpha = SKIP_THIS_PROPERTY;
		commit();
	}
	
	function setColorBackground() {
		if ($$("bgType").val() == "gradient") {
			setGradientBackground();
		}
		else {
			setSolidBackground();
		}
	}
	
	function unsetColorBackground() {
		if ($$("bgType").val() == "gradient") {
			unsetGradientBackground();
		}
		else {
			unsetSolidBackground();
		}
	}
	
	// bgType
	$$("bgType").change(function() {
		IN_TRANSACTION++;
		switch ( $(this).val() ) {
			case "solid":
				unsetImageBaground();
				unsetGradientBackground();
				setSolidBackground();
			break;
			case "gradient":
				unsetImageBaground();
				unsetSolidBackground();
				setGradientBackground();
			break;
			case "image":
				unsetSolidBackground();
				unsetGradientBackground();
				setImageBaground();
			break;
			default:
				unsetSolidBackground();
				unsetGradientBackground();
				unsetImageBaground();
			break;
		}
		IN_TRANSACTION--;
		commit();
	});
	
	$$("bgImage"           ).change(setImageBaground);
	$$("bgImageRepeat"     ).click( setImageBaground);
	$$("bgImageTransparent").click( setImageBaground);
	$$("bgImageFit"        ).change(setImageBaground);
	$$("bgImageX"          ).change(setImageBaground);
	$$("bgImageY"          ).change(setImageBaground);
	
	$$("bgColor1"     ).change(setColorBackground);
	$$("bgOpacity"    ).change(setColorBackground);
	$$("bgFillOffsetX").change(setColorBackground);
	$$("bgFillOffsetY").change(setColorBackground);
	$$("bgFillAngle"  ).change(setColorBackground);
	$$("bgFillType"   ).change(setColorBackground);
	$$("bgColor2"     ).change(setColorBackground);
	
	$$("bgType").change(function() {
		$(this).closest(".row").find(".control-extra").hide();
		switch ( $(this).val() ) {
			case "solid":
				$(".background-editor .bg-colors", ENV.container).show()
				.find(".group-label").text("BG Color").end()
				.find("label:eq(1)").hide().end()
				.find("label:eq(0) > span").hide();
				$(".background-editor .bg-alpha", ENV.container).show();
			break;
			case "gradient":
				$(".background-editor .bg-colors", ENV.container).show()
				.find(".group-label").text("BG Colors").end()
				.find("label:eq(1)").show().end()
				.find("label:eq(0) > span").show();
				$(".background-editor .bg-alpha", ENV.container).show();
				$(".background-editor .bg-fill-type", ENV.container).show();
			break;
			case "image":
				$(".background-editor .bg-image", ENV.container).show();
			break;
		}
	}).triggerHandler("change");
	
	$$("bgFillType").change(function() {
		if ($(this).val() == "default") {
			$(".bg-fill-angle, .bg-fill-offsets", ENV.container).hide();
		}
		else {
			$(".bg-fill-angle, .bg-fill-offsets", ENV.container).show();
		}
	}).triggerHandler("change");
	
	// initUI
	// =========================================================================
	$(ENV.container).unbind("initUI").bind("initUI", function(e, prefs) {
		e.stopPropagation();
		if (prefs && prefs.path) {
			var state = ChartBuilder.getChartEngine().get(prefs.path) || {};
			IN_TRANSACTION++;
			
			$$("bgColor1")
				.val(String(state["background-color"  ] || "").replace(/^#*/, ""))
				.triggerHandler("change");
			$$("bgColor2")
				.val(String(state["background-color-2"] || "").replace(/^#*/, ""))
				.triggerHandler("change");
			$$("bgOpacity")
				.val("alpha" in state ? state.alpha : 1)
				.triggerHandler("change");
			$$("bgFillType")
				.val(state["fill-type"] || "default")
				.triggerHandler("change");
			$$("bgFillOffsetX")
				.val("fill-offset-x" in state ? state["fill-offset-x"] : 0)
				.triggerHandler("change");
			$$("bgFillOffsetY")
				.val("fill-offset-y" in state ? state["fill-offset-y"] : 0)
				.triggerHandler("change");
			$$("bgFillAngle")
				.val("fill-angle" in state ? state["fill-angle"] : 90)
				.triggerHandler("change");
			$$("bgImage")
				.val(state["background-image"] || "")
				.triggerHandler("change");
			$$("bgImageFit")
				.val("fill-fit" in state ? state["fill-fit"] : "")
				.triggerHandler("change");
				
			$$("bgImageRepeat")[0].checked = !!state["background-repeat"];
			$$("bgImageRepeat").triggerHandler("change");
			
			$$("bgImageTransparent")[0].checked = !!state["background-transparent"];
			$$("bgImageTransparent").triggerHandler("change");
			
			var pos = String(state["background-position"] || "0 0").split(/\s+/);
			$$("bgImageX").val(pos[0]).triggerHandler("change");
			$$("bgImageY").val(pos[1]).triggerHandler("change");
			
			$$("bgType")
				.val("background-color-2" in state ? "gradient" :
						"background-color" in state ? "solid" : 
							"background-image" in state ? "image" :
								"default")
				.triggerHandler("change");
			
			IN_TRANSACTION--;
			commit();
		}
	});
	
	$(ENV.container).trigger("ready");
	
	IN_TRANSACTION = 0;
	// =========================================================================
})(jQuery);
</script>
	