<div class="row bevel">
	<div class="group-label">Bevel</div>
	<div class="control">
		<input type="checkbox" name="bevelToggle" />
	</div>
	
	<div class="bevel-extra hidden">
		<div class="row no-border">
			<div class="group-label">Blur</div>
			<div class="control">
				<label data-jsonpath="bevel-blur-x">X: <input type="number" name="bevelBlurX" size="3" min="0" value="5" /></label>
				<label data-jsonpath="bevel-blur-y">Y: <input type="number" name="bevelBlurY" size="3" min="0" value="5" /></label>
			</div>
		</div>
		<div class="row no-border">
			<div class="group-label">Distance</div>
			<div class="control">
				<input type="number" name="bevelDistance" min="0" max="100" size="3" value="2"  />
			</div>
		</div>
		<div class="row no-border">
			<div class="group-label">Angle</div>
			<div class="control">
				<input type="number" name="bevelAngle" min="0" max="360" size="3" value="45"  />
			</div>
		</div>
	</div>
</div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		DEFAULTS = {
			"bevelBlurX"    : 5,
			"bevelBlurY"    : 5,
			"bevelDistance" : 2,
			"bevelAngle"    : 45
		};
	
	function commit() {
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("bevelSettingsChange", [DATA]);
		}
	}
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	// bevelToggle   - bevel
	// bevelBlurX    - bevel-blur-x
	// bevelBlurY    - bevel-blur-y
	// bevelDistance - bevel-distance
	// bevelAngle    - bevel-angle
	function updateUI(data) {
		if (data && data.path) {
			var state = ChartBuilder.getChartEngine().get(data.path) || {};//console.log(state);
			IN_TRANSACTION++;
			//DATA = {};
			
			$$("bevelBlurX"   ).val(state["bevel-blur-x"  ] || DEFAULTS.bevelBlurX   ).triggerHandler("change");
			$$("bevelBlurY"   ).val(state["bevel-blur-y"  ] || DEFAULTS.bevelBlurY   ).triggerHandler("change");
			$$("bevelDistance").val(state["bevel-distance"] || DEFAULTS.bevelDistance).triggerHandler("change");
			$$("bevelAngle"   ).val(state["bevel-angle"   ] || DEFAULTS.bevelAngle   ).triggerHandler("change");
			
			$$("bevelToggle")[0].checked = "bevel-blur-x"   in state ||
										   "bevel-blur-y"   in state ||
										   "bevel-distance" in state ||
										   "bevel-angle"    in state;
			$$("bevelToggle").triggerHandler("click");
			
			IN_TRANSACTION--;
		}
	}
	
	$(".bevel-extra", ENV.container).animate({ opacity : 0, height: "hide" }).removeClass("hidden");
	
	$$("bevelBlurX").change(function() { 
		DATA["bevel-blur-x"] = $.intVal(this.value);
		commit();
	});
	
	$$("bevelBlurY").change(function() { 
		DATA["bevel-blur-y"] = $.intVal(this.value);
		commit();
	});
	
	$$("bevelDistance").change(function() { 
		DATA["bevel-distance"] = $.intVal(this.value);
		commit();
	});
	
	$$("bevelAngle").change(function() { 
		DATA["bevel-angle"] = $.intVal(this.value);
		commit();
	});
	
	$$("bevelToggle").click(function() { 
		
		IN_TRANSACTION++;
		
		if (this.checked) {
			
			$(this).closest(".row").find(".bevel-extra").animate({
				opacity: 1,
				height : "show"
			}, 200);
			
			DATA["bevel-blur-x"  ] = $.intVal($$("bevelBlurX").val());
			DATA["bevel-blur-y"  ] = $.intVal($$("bevelBlurY").val());
			DATA["bevel-distance"] = $.intVal($$("bevelDistance").val());
			DATA["bevel-angle"   ] = $.intVal($$("bevelAngle").val());
			DATA.bevel = true;
		} else {
			
			$(this).closest(".row").find(".bevel-extra").animate({
				opacity: 0,
				height : "hide"
			}, 200);
			
			DATA["bevel-blur-x"  ] = SKIP_THIS_PROPERTY;
			DATA["bevel-blur-y"  ] = SKIP_THIS_PROPERTY;
			DATA["bevel-distance"] = SKIP_THIS_PROPERTY;
			DATA["bevel-angle"   ] = SKIP_THIS_PROPERTY;
			DATA.bevel             = SKIP_THIS_PROPERTY;
		}
		
		IN_TRANSACTION--;
		commit();
	}).triggerHandler("click");
	
	$(ENV.container).unbind("initUI").bind("initUI", function(e, prefs) {
		e.stopPropagation();
		updateUI(prefs);
		commit();
	});
	
	IN_TRANSACTION = 0;
	
	$(ENV.container).trigger("ready");
})(jQuery);
</script>