<div class="row">
	<div class="group-label">Border</div>
	<div class="control">
		<input type="checkbox" name="borderToggle" />
		<div class="border-extra control hidden">
			<label><span>Width: </span> 
				<input type="number" name="borderWidth" size="3" min="0" max="100" />
			</label>
			<label><span>Color: </span>
				<input type="color" name="borderColor" size="3" />
			</label>
		</div>
	</div>
</div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, IN_TRANSACTION = 1;
	
	function commit() {
		if (IN_TRANSACTION === 0) {
			$(ENV.container).trigger("borderSettingsChange", [DATA]);
		}
	}
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	$(".border-extra", ENV.container).fadeOut(0).removeClass("hidden");
	
	// borderWidth
	$$("borderWidth").change(function() { 
		DATA["border-width"] = (/^\s*$/).test(this.value) ? SKIP_THIS_PROPERTY : $.intVal(this.value);
		commit();
	});
	
	$$("borderColor").change(function() { 
		DATA["border-color"] = this.value ? "#" + this.value : SKIP_THIS_PROPERTY;
		commit();
	});
	
	// Border Toggle
	$$("borderToggle").click(function() { 
		
		$(this).closest(".row").find(".border-extra")[this.checked ? "fadeIn" : "fadeOut"](200);
		
		IN_TRANSACTION++;
		
		if (this.checked) {
			var c = $$("borderColor").val(),
				w = $$("borderWidth").val();
			DATA["border-color"] = (/^\s*$/).test(c) ? SKIP_THIS_PROPERTY : "#" + c;
			DATA["border-width"] = (/^\s*$/).test(w) ? SKIP_THIS_PROPERTY : $.intVal(w);
		} else {
			DATA["border-color"] = SKIP_THIS_PROPERTY;
			DATA["border-width"] = SKIP_THIS_PROPERTY;
		}
		
		IN_TRANSACTION--;
		commit();
	});
	
	IN_TRANSACTION = 0;
	
	$(ENV.container).trigger("ready");
})(jQuery);
</script>
