<div class="dimensions-editor"></div>
<div class="position-editor"></div>
<div class="margins-editor"></div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, IN_TRANSACTION = true;
	
	function commit() {
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("boxSettingsChange", [DATA]);
		}
	}
	
	function initForm() {
		
		IN_TRANSACTION = false;
		
		$(ENV.container).unbind(".boxEditor")
		
		// position ------------------------------------------------------------
		.bind("positionSettingsChange.boxEditor", function(e, data) {
			if ( "position" in data ) {
				DATA.position = data.position;
			}
			else {
				DATA.position = SKIP_THIS_PROPERTY;
			}
			commit();
		})
		
		// dimensions ----------------------------------------------------------
		.bind("dimensionsSettingsChange.boxEditor", function(e, data) {
			$.each(["width", "height"], function(i, name) {
				if ( name in data ) {
					DATA[name] = data[name];
				}
				else {
					DATA[name] = SKIP_THIS_PROPERTY;
				}
			});
			commit();
		})
		
		// margins -------------------------------------------------------------
		.bind("marginSettingsChange.boxEditor", function(e, data) {
			$.each(["margin-top", "margin-right", "margin-bottom", "margin-left"], function(i, name) {
				if ( name in data ) {
					DATA[name] = data[name];
				}
				else {
					DATA[name] = SKIP_THIS_PROPERTY;
				}
			});
			commit();
		})
		
		.trigger("ready");
	}
	
	var done = 0;
	function commonCallback() {
		if (++done == 1) {
			initForm();
		}
	}
	
	$.loadHTML(
		$(".dimensions-editor", ENV.container), 
		"core/zingcharts/editors/reusable/dimensions.html"
	).done(commonCallback);
	
	$.loadHTML(
		$(".position-editor", ENV.container), 
		"core/zingcharts/editors/reusable/position.html"
	).done(commonCallback);
	
	$.loadHTML(
		$(".margins-editor", ENV.container), 
		"core/zingcharts/editors/reusable/margins.html"
	).done(commonCallback);
	
	
})(jQuery);
</script>