<div class="row no-border">
	<div class="group-label">Dimensions</div>
	<div class="control">
		<label><span class="label-text">Width: </span><input type="number" name="boxWidth"  size="3" min="0" /></label>
		<label><span class="label-text">Height:</span><input type="number" name="boxHeight" size="3" min="0" /></label>
	</div>
</div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, IN_TRANSACTION = true;
	
	function commit() {
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("dimensionsSettingsChange", [DATA]);
		}
	}
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	// boxWidth  - width
	// boxHeight - height
	
	$$("boxWidth").change(function() { 
	    DATA.width = (/^\s*$/).test(this.value) ? SKIP_THIS_PROPERTY : $.intVal(this.value);
		commit();
	});
	
	$$("boxHeight").change(function() { 
		DATA.height = (/^\s*$/).test(this.value) ? SKIP_THIS_PROPERTY : $.intVal(this.value);
	    commit();
	});
	
	IN_TRANSACTION = false;
	
	$(ENV.container).trigger("ready");
})(jQuery);
</script>