<div class="row">
	<div class="group-label">Line</div>
	<div class="control">
		<input type="checkbox" name="lineToggle" />
		<span class="line-extra-1 hidden">
			<label>Width: <input type="number" name="lineWidth" size="3" min="0" value="1" /></label>
			<label>Color: <input type="color"  name="lineColor" /></label>
		</span>
	</div>

	<div class="row no-border line-extra-2 hidden">
		<div class="row no-border">
			<div class="group-label">Opacity</div>
			<div class="control">
				<input type="range" name="lineOpacity" min="0" max="1" step="0.01" value="1"  />
			</div>
		</div>
		<div class="row no-border">
			<div class="group-label">Style</div>
			<div class="control">
				<select name="lineStyle">
					<option value="solid">Solid</option>
					<option value="dotted">Dotted</option>
					<option value="dashed">Dashed</option>
				</select>
			</div>
		</div>
		<div class="line-extra-3 hidden">
			<div class="row no-border">
				<div class="group-label">Dash Size</div>
				<div class="control">
					<input type="number" name="lineDashSize" min="1" max="100" size="3" value="2"  />
				</div>
			</div>
			<div class="row no-border">
				<div class="group-label">Gap Size</div>
				<div class="control">
					<input type="number" name="lineGapSize" min="1" max="100" size="3" value="2"  />
				</div>
			</div>
		</div>
	</div>
</div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	$(".line-extra-1", ENV.container).fadeOut(0).removeClass("hidden");
	$(".line-extra-2", ENV.container).animate({height:"hide", opacity: 0}, 0).removeClass("hidden");
	$(".line-extra-3", ENV.container).animate({height:"hide", opacity: 0}, 0).removeClass("hidden");
	
	var DATA = {}, 
		IN_TRANSACTION = 0,
		DEFAULTS = {
			"lineWidth"    : "",
			"lineColor"    : "",
			"lineStyle"    : "solid",
			"lineDashSize" : 2,
			"lineGapSize"  : 2,
			"lineToggle"   : false,
			"lineOpacity"  : 1
		};
	
	function commit() {
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("lineSettingsChange", [DATA]);
		}
	}
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	// lineToggle   - 
	// lineWidth    - line-width
	// lineColor    - line-color
	// lineStyle    - line-dashed | line-dotted
	// lineDashSize - line-segment-size
	// lineGapSize  - line-gap-size
	// lineOpacity  - alpha
	function updateUI(data) {
		if (data && data.path) {
			var state = ChartBuilder.getChartEngine().get(data.path) || {};//console.log(state);
			IN_TRANSACTION++;
			//DATA = {};
			
			$$("lineWidth").val(state["line-width"] || DEFAULTS.lineWidth).triggerHandler("change");
			$$("lineColor").val(String(state["line-color"] || DEFAULTS.lineColor).replace(/^#*/, "")).triggerHandler("change");
			
			$$("lineOpacity").val("alpha" in state ? state.alpha : DEFAULTS.lineOpacity).triggerHandler("change");
			
			$$("lineDashSize").val(state["line-segment-size"] || DEFAULTS.lineDashSize).triggerHandler("change");
			$$("lineGapSize" ).val(state["line-gap-size"    ] || DEFAULTS.lineGapSize).triggerHandler("change");
			
			$$("lineStyle").val(
				state["line-dashed"] ? "dashed" : 
					state["line-dotted"] ? "dotted" : 
						"solid"
			).triggerHandler("change");
			
			$$("lineToggle")[0].checked = "line-segment-size" in state ||
										  "line-gap-size"     in state ||
										  "line-width"        in state ||
										  "line-color"        in state ||
										  "line-dashed"       in state ||
										  "line-dotted"       in state ||
										  "alpha"             in state;
			$$("lineToggle").triggerHandler("click");
			
			IN_TRANSACTION--;
		}
	}
	
	$$("lineWidth").change(function() { 
		DATA["line-width"] = $.intVal(this.value) || SKIP_THIS_PROPERTY;
		commit();
	});
	
	$$("lineColor").change(function() { 
		DATA["line-color"] = this.value ? "#" + this.value : SKIP_THIS_PROPERTY;
		commit();
	});
	
	$$("lineOpacity").change(function() { 
		DATA.alpha = $.floatVal(this.value);
		commit();
	});
	
	$$("lineDashSize").change(function() { 
		DATA["line-segment-size"] = $.intVal(this.value);
		commit();
	});
	
	$$("lineGapSize").change(function() { 
		DATA["line-gap-size"] = $.intVal(this.value);
		commit();
	});
	
	$$("lineStyle").change(function() { 
		var val = $(this).val();
		DATA["line-segment-size"] = SKIP_THIS_PROPERTY;
		DATA["line-gap-size"] = SKIP_THIS_PROPERTY;
		DATA["line-dashed"] = SKIP_THIS_PROPERTY;
		DATA["line-dotted"] = SKIP_THIS_PROPERTY;
		if (val != "solid") {
			$(".line-extra-3", ENV.container).animate({height:"show", opacity: 1}, 200);
			DATA["line-segment-size"] = $.intVal($$("lineDashSize").val());
			DATA["line-gap-size"    ] = $.intVal($$("lineGapSize" ).val());
			DATA["line-" + val      ] = 1;
		}
		else {
			$(".line-extra-3", ENV.container).animate({height:"hide", opacity: 0}, 200);
		}
		commit();
	});
	
	$$("lineToggle").click(function() { 
		
		IN_TRANSACTION++;
		
		if (this.checked) {
			
			$(".line-extra-1", this.parentNode).fadeIn(200);
			$(".line-extra-2", ENV.container).animate({height:"show", opacity: 1}, 200);
			
			$$("lineStyle").triggerHandler("change");
			$$("lineColor").triggerHandler("change");
			$$("lineWidth").triggerHandler("change");
			
		} else {
			DATA["line-segment-size"] = SKIP_THIS_PROPERTY;
			DATA["line-gap-size"] = SKIP_THIS_PROPERTY;
			DATA["line-dashed"] = SKIP_THIS_PROPERTY;
			DATA["line-dotted"] = SKIP_THIS_PROPERTY;
			DATA["line-width"] = SKIP_THIS_PROPERTY;
			DATA["line-color"] = SKIP_THIS_PROPERTY;
			DATA.alpha = SKIP_THIS_PROPERTY;
			$(".line-extra-1", this.parentNode).fadeOut(200);
			$(".line-extra-2", ENV.container).animate({height:"hide", opacity: 0}, 200);
			$(".line-extra-3", ENV.container).animate({height:"hide", opacity: 0}, 200);
		}
		
		IN_TRANSACTION--;
		commit();
	}).triggerHandler("click");
	
	$(ENV.container).unbind("initUI").bind("initUI", function(e, prefs) {
		e.stopPropagation();
		updateUI(prefs);
		commit();
	});
	
	IN_TRANSACTION = 0;
	
	$(ENV.container).trigger("ready");
})(jQuery);
</script>