<div class="row no-border">
	<div class="group-label">Margins</div>
	<div class="control">
		<label><span class="label-text">Top:  </span><input type="number" name="boxMarginTop"   size="3" /></label>
		<label><span class="label-text">Right:</span><input type="number" name="boxMarginRight" size="3" /></label>
	</div>
	<div class="row no-border">
		<div class="group-label"></div>
		<div class="control">
			<label><span class="label-text">Bottom:</span><input type="number" name="boxMarginBottom" size="3" /></label>
			<label><span class="label-text">Left:  </span><input type="number" name="boxMarginLeft"   size="3" /></label>
		</div>
	</div>
</div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV*/
(function($) {
	
	var DATA = {}, IN_TRANSACTION = true;
	
	function commit() {
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("marginSettingsChange", [DATA]);
		}
	}
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	// boxMarginTop    - margin-top
	// boxMarginRight  - margin-right
	// boxMarginBottom - margin-bottom
	// boxMarginLeft   - margin-left
	
	$$("boxMarginTop").change(function() { 
		if ((/^\s*$/).test(this.value)) {
			$.JSONDelete(DATA, "margin-top");
		}
		else {
			DATA["margin-top"] = $.intVal(this.value);
		}
		commit();
	});
	
	$$("boxMarginRight").change(function() { 
		if ((/^\s*$/).test(this.value)) {
			$.JSONDelete(DATA, "margin-right");
		}
		else {
			DATA["margin-right"] = $.intVal(this.value);
		}
		commit();
	});
	
	$$("boxMarginBottom").change(function() { 
		if ((/^\s*$/).test(this.value)) {
			$.JSONDelete(DATA, "margin-bottom");
		}
		else {
			DATA["margin-bottom"] = $.intVal(this.value);
		}
		commit();
	});
	
	$$("boxMarginLeft").change(function() { 
		if ((/^\s*$/).test(this.value)) {
			$.JSONDelete(DATA, "margin-left");
		}
		else {
			DATA["margin-left"] = $.intVal(this.value);
		}
		commit();
	});
	
	IN_TRANSACTION = false;
	
	$(ENV.container).trigger("ready");
})(jQuery);
</script>