<div class="row no-border">
	<div class="group-label">Position</div>
	<div class="control">
		<label><span class="label-text">X (%):</span><input type="number" name="boxX" size="3" /></label>
		<label><span class="label-text">Y (%):</span><input type="number" name="boxY" size="3" /></label>
	</div>
</div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, IN_TRANSACTION = true;
	
	function commit() {
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("positionSettingsChange", [DATA]);
		}
	}
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	// boxX - position[0]
	// boxY - position[1]
	
	$$("boxX").change(function() { 
		if ((/^\s*$/).test(this.value) || (/^\s*$/).test($$("boxY").val())) {
			DATA.position = SKIP_THIS_PROPERTY;
		}
		else {
			DATA.position = [
				$.intVal(this.value) + "%",
				$.intVal($$("boxY").val()) + "%"
			].join(" ");
		}
		commit();
	});
	
	$$("boxY").change(function() { 
		if ((/^\s*$/).test(this.value) || (/^\s*$/).test($$("boxX").val())) {
			DATA.position = SKIP_THIS_PROPERTY;
		}
		else {
			DATA.position = [
				$.intVal($$("boxX").val()) + "%",
				$.intVal(this.value) + "%"
			].join(" ");
		}
		commit();
	});
	
	IN_TRANSACTION = false;
	
	$(ENV.container).trigger("ready");
})(jQuery);
</script>