<div class="row no-border">
	<div class="group-label">Position</div>
	<div class="control">
		<label><span class="label-text">X:</span><input type="number" name="boxX" size="3" /></label>
		<label><span class="label-text">Y:</span><input type="number" name="boxY" size="3" /></label>
	</div>
</div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	var DATA = {}, IN_TRANSACTION = true;
	
	function commit() {
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("positionXYSettingsChange", [DATA]);
		}
	}
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	// boxX - x
	// boxY - y
	
	$$("boxX").change(function() { 
		DATA.x = (/^\s*$/).test(this.value) ? SKIP_THIS_PROPERTY : $.intVal(this.value);
		commit();
	});
	
	$$("boxY").change(function() { 
		DATA.y = (/^\s*$/).test(this.value) ? SKIP_THIS_PROPERTY : $.intVal(this.value);
		commit();
	});
	
	IN_TRANSACTION = false;
	
	$(ENV.container).trigger("ready");
})(jQuery);
</script>