<div class="row no-border shadow">
	<div class="group-label">Shadow</div>
	<div class="control">
		<input type="checkbox" name="shadowToggle" />
	</div>
	
	<div class="shadow-extra hidden">
		<div class="row no-border">
			<div class="group-label">Opacity</div>
			<div class="control">
				<input type="range" name="shadowOpacity" min="0" max="1" size="3" value="0.5"  />
			</div>
		</div>
		<div class="row no-border">
			<div class="group-label">Color</div>
			<div class="control">
				<input type="color" name="shadowColor" size="3" value="000000" />
			</div>
		</div>
		<div class="row no-border blur">
			<div class="group-label">Blur</div>
			<div class="control">
				<label class="blur-x">X: <input type="number" name="shadowBlurX" size="3" value="5"  /></label>
				<label class="blur-y">Y: <input type="number" name="shadowBlurY" size="3" value="5"  /></label>
			</div>
		</div>
		<div class="row no-border">
			<div class="group-label">Distance</div>
			<div class="control">
				<input type="number" name="shadowDistance" size="3" value="5"  /></label>
			</div>
		</div>
	</div>
</div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV, SKIP_THIS_PROPERTY*/
(function($) {
	
	$(".shadow-extra", ENV.container).animate({ opacity : 0, height: "hide" }).removeClass("hidden");
	
	var DATA = {}, 
		IN_TRANSACTION = 1,
		DEFAULTS = {
			"shadowOpacity"    : 0.5,
			"shadowColor"      : "000000",
			"shadowDistance"   : 5,
			"shadowBlurX"      : 5,
			"shadowBlurY"      : 5
		};
	
	function commit() {
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("shadowSettingsChange", [DATA]);
		}
	}
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	function updateUI(data) {
		if (data && data.path) {
			var state = ChartBuilder.getChartEngine().get(data.path) || {};//console.log(state);
			IN_TRANSACTION++;
			DATA = {};
			
			$$("shadowOpacity").val(state["shadow-alpha"] || DEFAULTS.shadowOpacity).triggerHandler("change");
			$$("shadowColor").val(String(state["shadow-color"] || DEFAULTS.shadowColor).replace(/^#*/, "")).triggerHandler("change");
			
			$$("shadowDistance").val(state["shadow-distance"] || DEFAULTS.shadowDistance).triggerHandler("change");
			$$("shadowBlurX"   ).val(state["shadow-blur-x"  ] || DEFAULTS.shadowBlurX   ).triggerHandler("change");
			$$("shadowBlurY"   ).val(state["shadow-blur-y"  ] || DEFAULTS.shadowBlurY   ).triggerHandler("change");
			
			$$("shadowToggle")[0].checked = "shadow-alpha"    in state ||
											"shadow-color"    in state ||
											"shadow-blur-x"   in state ||
											"shadow-blur-y"   in state ||
											"shadow-distance" in state;
			$$("shadowToggle").triggerHandler("click");
			
			IN_TRANSACTION--;
		}
	}
	
	
	
	$$("shadowOpacity").change(function() { 
		DATA["shadow-alpha"] = $.floatVal(this.value);
		commit();
	});
	
	$$("shadowColor").change(function() { 
		DATA["shadow-color"] = this.value ? this.value.replace(/^#*/, "") : SKIP_THIS_PROPERTY;
		commit();
	});
	
	$$("shadowDistance").change(function() { 
		DATA["shadow-distance"] = $.intVal(this.value);
		commit();
	});
	
	$$("shadowBlurX").change(function() { 
		DATA["shadow-blur-x"] = $.intVal(this.value);
		commit();
	});
	
	$$("shadowBlurY").change(function() { 
		DATA["shadow-blur-y"] = $.intVal(this.value);
		commit();
	});
	
	$$("shadowToggle").click(function() { 
		
		IN_TRANSACTION++;
		
		if (this.checked) {
			
			$(this).closest(".row").find(".shadow-extra").animate({
				opacity: 1,
				height : "show"
			}, 200);
			
			var c = $$("shadowColor").val();
			if (c) {
				DATA["shadow-color"] = c.replace(/^#*/, "#");
			}
			
			DATA["shadow-alpha"   ] = $.floatVal($$("shadowOpacity").val());
			DATA["shadow-distance"] = $.intVal($$("shadowDistance").val());
			DATA["shadow-blur-x"  ] = $.intVal($$("shadowBlurX").val());
			DATA["shadow-blur-y"  ] = $.intVal($$("shadowBlurY").val());
			DATA.shadow = true;
		} else {
			
			$(this).closest(".row").find(".shadow-extra").animate({
				opacity: 0,
				height : "hide"
			}, 200);
			
			DATA["shadow-alpha"   ] = SKIP_THIS_PROPERTY;
			DATA["shadow-distance"] = SKIP_THIS_PROPERTY;
			DATA["shadow-blur-x"  ] = SKIP_THIS_PROPERTY;
			DATA["shadow-blur-y"  ] = SKIP_THIS_PROPERTY;
			DATA["shadow-color"   ] = SKIP_THIS_PROPERTY;
			DATA.shadow             = SKIP_THIS_PROPERTY;
		}
		
		IN_TRANSACTION--;
		commit();
	});
	
	IN_TRANSACTION++;
	$$("shadowToggle").triggerHandler("click");
	IN_TRANSACTION--;
	
	$(ENV.container).unbind("initUI").bind("initUI", function(e, prefs) {
		e.stopPropagation();
		updateUI(prefs);
		commit();
	});
	
	IN_TRANSACTION = 0;
	
	$(ENV.container).trigger("ready");
})(jQuery);
</script>