<div class="row">
	<div class="group-label">Font</div>
	<div class="control">
		<input type="checkbox" name="fontToggle" />
	</div>
	
	<div class="font-extra hidden">
		<div class="row no-border">
			<div class="group-label">Font Family</div>
			<div class="control">
				<select name="fontFamily">
					<option value="default">Default</option>
					<option value="Calibri">Calibri</option>
					<option value="Comic Sans MS">Comic Sans MS</option>
					<option value="Courier">Courier</option>
					<option value="Helvetica">Helvetica</option>
					<option value="Lucida Handwriting">Lucida Handwriting</option>
					<option value="Times New Roman">Times New Roman</option>
					<option value="Verdana">Verdana</option>
					<option value="serif">Serif</option>
					<option value="sans-serif">Sans</option>
					<option value="monospace">Fixed Width</option>
				</select>
			</div>
		</div>
		<div class="row no-border">
			<div class="group-label">Size/Style</div>
			<div class="control">
				<input type="number" name="fontSize" min="1" max="40" size="3" value="12"  />
				<input type="color"  name="fontColor" size="3" />
				<input type="button" name="fontBold"      value="B" class="toggle-button" style="font-weight: bold;" title="Bold" />
				<input type="button" name="fontItalic"    value="I" class="toggle-button" style="font-weight: bold; font-style: italic" title="Italic" />
				<input type="button" name="fontUnderline" value="U" class="toggle-button" style="font-weight: bold; text-decoration: underline" title="Underline" />
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="group-label">Text Align</div>
	<div class="control">
		<select name="textAlign">
			<option value="default">Default</option>
			<option value="left">Left</option>
			<option value="right">Right</option>
			<option value="center">Center</option>
			<option value="justify">Justify</option>
		</select>
	</div>
</div>
<script>
/*global window, jQuery, zingchart, Class, $, ChartBuilder, ENV*/
(function($) {
	
	var DATA = {}, IN_TRANSACTION = 1;
	
	function commit() {
		if ( !IN_TRANSACTION ) {
			$(ENV.container).trigger("textSettingsChange", [DATA]);
		}
	}
	
	function $$(name) {
		return $('[name="' + name + '"]', ENV.container);
	}
	
	$$("textAlign").change(function() { 
		var val = $(this).val();
		if (val == "default") {
			DATA["text-align"] = "SKIP_THIS_PROPERTY";
		}
		else {
			DATA["text-align"] = val;
		}
		commit();
	});
	
	
	$(".font-extra", ENV.container).animate({ opacity : 0, height: "hide" }).removeClass("hidden");
	
	$$("fontColor").change(function() { 
		DATA.color = (/^\s*$/).test(this.value) ? "SKIP_THIS_PROPERTY" : "#" + this.value;
		commit();
	});
	
	$$("fontSize").change(function() { 
		DATA["font-size"] = $.intVal(this.value);
		DATA.text = (/^\s*$/).test(this.value) ? "SKIP_THIS_PROPERTY" : $.intVal(this.value);
		commit();
	});
	
	
	$$("fontFamily").change(function() { 
		var val = $(this).val();
		if (val == "default") {
			DATA["font-family"] = "SKIP_THIS_PROPERTY";
		}
		else {
			DATA["font-family"] = val;
		}
		commit();
	});
	
	$$("fontUnderline").change(function() { 
		DATA.underline = !!this.checked;
		commit();
	});
	
	$$("fontItalic").change(function() { 
		DATA.italic = !!this.checked;
		commit();
	});
	
	$$("fontBold").change(function() { 
		DATA.bold = !!this.checked;
		commit();
	});
	
	$$("fontToggle").click(function() { 
		
		IN_TRANSACTION++;
		
		if (this.checked) {
			
			$(this).closest(".row").find(".font-extra").animate({
				opacity: 1,
				height : "show"
			}, 200);
			
			var c = $$("fontColor").val(),
				f = $$("fontFamily").val();
			if (c) {
				DATA.color = "#" + c;
			}
			if (f != "default") {
				DATA["font-family"] = f;
			}
			
			DATA["font-size"] = $.intVal($$("fontSize").val());
			DATA.underline    = !!$$("fontUnderline")[0].checked;
			DATA.italic       = !!$$("fontItalic")[0].checked;
			DATA.bold         = !!$$("fontBold")[0].checked;
		} else {
			
			$(this).closest(".row").find(".font-extra").animate({
				opacity: 0,
				height : "hide"
			}, 200);
			
			DATA["color"] = "SKIP_THIS_PROPERTY";
			DATA["font-size"] = "SKIP_THIS_PROPERTY";
			DATA["font-family"] = "SKIP_THIS_PROPERTY";
			DATA["underline"] = "SKIP_THIS_PROPERTY";
			DATA["italic"] = "SKIP_THIS_PROPERTY";
			DATA["bold"] = "SKIP_THIS_PROPERTY";
		}
		
		IN_TRANSACTION--;
		commit();
	}).triggerHandler("click");
	
	// initUI
	// =========================================================================
	$(ENV.container).unbind("initUI").bind("initUI", function(e, prefs) {
		e.stopPropagation();
		if (prefs && prefs.path) {
			var state = ChartBuilder.getChartEngine().get(prefs.path) || {};
			IN_TRANSACTION++;
			
			$$("textAlign").val(state["text-align"] || "default"           ).triggerHandler("change");
			$$("fontColor").val(String(state.color || "").replace(/^#/, "")).triggerHandler("change");
			$$("fontSize" ).val(state["font-size"] || 13                   ).triggerHandler("change");
			$$("fontFamily").val(state["font-family"] || "default"         ).triggerHandler("change");
			
			if (state.underline === true) {
				$$("fontUnderline").addClass("on")[0].checked = true;
			}
			else {
				$$("fontUnderline").removeClass("on")[0].checked = false;
			}
			$$("fontUnderline").triggerHandler("change");
			
			if (state.italic === true) {
				$$("fontItalic").addClass("on")[0].checked = true;
			}
			else {
				$$("fontItalic").removeClass("on")[0].checked = false;
			}
			$$("fontItalic").triggerHandler("change");
			
			if (state.bold === true) {
				$$("fontBold").addClass("on")[0].checked = true;
			}
			else {
				$$("fontBold").removeClass("on")[0].checked = false;
			}
			$$("fontBold").triggerHandler("change");
			
			$$("fontToggle")[0].checked = "fontColor"  in state ||
										  "fontSize"   in state || 
										  "italic"     in state ||
										  "bold"       in state ||
										  "underline"  in state || 
										 ("fontFamily" in state && state.fontFamily != "default");
										  
			$$("fontToggle").triggerHandler("click");
			IN_TRANSACTION--;
			commit();
		}
	});
	
	IN_TRANSACTION = 0;
	
	$(ENV.container).trigger("ready");
})(jQuery);
</script>